<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: select.go in package github.com/manifoldco/promptui</title>
<link href="../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	select.go

<span class="title">Belonging Package</span>
	<a href="../../../../pkg/github.com/manifoldco/promptui.html">github.com/manifoldco/promptui</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>package promptui</code></span>
<span class="codeline" id="line-2"><code></code></span>
<span class="codeline" id="line-3"><code>import (</code></span>
<span class="codeline" id="line-4"><code>	"bytes"</code></span>
<span class="codeline" id="line-5"><code>	"fmt"</code></span>
<span class="codeline" id="line-6"><code>	"io"</code></span>
<span class="codeline" id="line-7"><code>	"os"</code></span>
<span class="codeline" id="line-8"><code>	"text/template"</code></span>
<span class="codeline" id="line-9"><code></code></span>
<span class="codeline" id="line-10"><code>	"github.com/chzyer/readline"</code></span>
<span class="codeline" id="line-11"><code>	"github.com/juju/ansiterm"</code></span>
<span class="codeline" id="line-12"><code>	"github.com/manifoldco/promptui/list"</code></span>
<span class="codeline" id="line-13"><code>	"github.com/manifoldco/promptui/screenbuf"</code></span>
<span class="codeline" id="line-14"><code>)</code></span>
<span class="codeline" id="line-15"><code></code></span>
<span class="codeline" id="line-16"><code>// SelectedAdd is used internally inside SelectWithAdd when the add option is selected in select mode.</code></span>
<span class="codeline" id="line-17"><code>// Since -1 is not a possible selected index, this ensure that add mode is always unique inside</code></span>
<span class="codeline" id="line-18"><code>// SelectWithAdd's logic.</code></span>
<span class="codeline" id="line-19"><code>const SelectedAdd = -1</code></span>
<span class="codeline" id="line-20"><code></code></span>
<span class="codeline" id="line-21"><code>// Select represents a list of items used to enable selections, they can be used as search engines, menus</code></span>
<span class="codeline" id="line-22"><code>// or as a list of items in a cli based prompt.</code></span>
<span class="codeline" id="line-23"><code>type Select struct {</code></span>
<span class="codeline" id="line-24"><code>	// Label is the text displayed on top of the list to direct input. The IconInitial value "?" will be</code></span>
<span class="codeline" id="line-25"><code>	// appended automatically to the label so it does not need to be added.</code></span>
<span class="codeline" id="line-26"><code>	//</code></span>
<span class="codeline" id="line-27"><code>	// The value for Label can be a simple string or a struct that will need to be accessed by dot notation</code></span>
<span class="codeline" id="line-28"><code>	// inside the templates. For example, `{{ .Name }}` will display the name property of a struct.</code></span>
<span class="codeline" id="line-29"><code>	Label interface{}</code></span>
<span class="codeline" id="line-30"><code></code></span>
<span class="codeline" id="line-31"><code>	// Items are the items to display inside the list. It expect a slice of any kind of values, including strings.</code></span>
<span class="codeline" id="line-32"><code>	//</code></span>
<span class="codeline" id="line-33"><code>	// If using a slice of strings, promptui will use those strings directly into its base templates or the</code></span>
<span class="codeline" id="line-34"><code>	// provided templates. If using any other type in the slice, it will attempt to transform it into a string</code></span>
<span class="codeline" id="line-35"><code>	// before giving it to its templates. Custom templates will override this behavior if using the dot notation</code></span>
<span class="codeline" id="line-36"><code>	// inside the templates.</code></span>
<span class="codeline" id="line-37"><code>	//</code></span>
<span class="codeline" id="line-38"><code>	// For example, `{{ .Name }}` will display the name property of a struct.</code></span>
<span class="codeline" id="line-39"><code>	Items interface{}</code></span>
<span class="codeline" id="line-40"><code></code></span>
<span class="codeline" id="line-41"><code>	// Size is the number of items that should appear on the select before scrolling is necessary. Defaults to 5.</code></span>
<span class="codeline" id="line-42"><code>	Size int</code></span>
<span class="codeline" id="line-43"><code></code></span>
<span class="codeline" id="line-44"><code>	// CursorPos is the initial position of the cursor.</code></span>
<span class="codeline" id="line-45"><code>	CursorPos int</code></span>
<span class="codeline" id="line-46"><code></code></span>
<span class="codeline" id="line-47"><code>	// IsVimMode sets whether to use vim mode when using readline in the command prompt. Look at</code></span>
<span class="codeline" id="line-48"><code>	// https://godoc.org/github.com/chzyer/readline#Config for more information on readline.</code></span>
<span class="codeline" id="line-49"><code>	IsVimMode bool</code></span>
<span class="codeline" id="line-50"><code></code></span>
<span class="codeline" id="line-51"><code>	// HideHelp sets whether to hide help information.</code></span>
<span class="codeline" id="line-52"><code>	HideHelp bool</code></span>
<span class="codeline" id="line-53"><code></code></span>
<span class="codeline" id="line-54"><code>	// HideSelected sets whether to hide the text displayed after an item is successfully selected.</code></span>
<span class="codeline" id="line-55"><code>	HideSelected bool</code></span>
<span class="codeline" id="line-56"><code></code></span>
<span class="codeline" id="line-57"><code>	// Templates can be used to customize the select output. If nil is passed, the</code></span>
<span class="codeline" id="line-58"><code>	// default templates are used. See the SelectTemplates docs for more info.</code></span>
<span class="codeline" id="line-59"><code>	Templates *SelectTemplates</code></span>
<span class="codeline" id="line-60"><code></code></span>
<span class="codeline" id="line-61"><code>	// Keys is the set of keys used in select mode to control the command line interface. See the SelectKeys docs for</code></span>
<span class="codeline" id="line-62"><code>	// more info.</code></span>
<span class="codeline" id="line-63"><code>	Keys *SelectKeys</code></span>
<span class="codeline" id="line-64"><code></code></span>
<span class="codeline" id="line-65"><code>	// Searcher is a function that can be implemented to refine the base searching algorithm in selects.</code></span>
<span class="codeline" id="line-66"><code>	//</code></span>
<span class="codeline" id="line-67"><code>	// Search is a function that will receive the searched term and the item's index and should return a boolean</code></span>
<span class="codeline" id="line-68"><code>	// for whether or not the terms are alike. It is unimplemented by default and search will not work unless</code></span>
<span class="codeline" id="line-69"><code>	// it is implemented.</code></span>
<span class="codeline" id="line-70"><code>	Searcher list.Searcher</code></span>
<span class="codeline" id="line-71"><code></code></span>
<span class="codeline" id="line-72"><code>	// StartInSearchMode sets whether or not the select mode should start in search mode or selection mode.</code></span>
<span class="codeline" id="line-73"><code>	// For search mode to work, the Search property must be implemented.</code></span>
<span class="codeline" id="line-74"><code>	StartInSearchMode bool</code></span>
<span class="codeline" id="line-75"><code></code></span>
<span class="codeline" id="line-76"><code>	list *list.List</code></span>
<span class="codeline" id="line-77"><code></code></span>
<span class="codeline" id="line-78"><code>	// A function that determines how to render the cursor</code></span>
<span class="codeline" id="line-79"><code>	Pointer Pointer</code></span>
<span class="codeline" id="line-80"><code></code></span>
<span class="codeline" id="line-81"><code>	Stdin  io.ReadCloser</code></span>
<span class="codeline" id="line-82"><code>	Stdout io.WriteCloser</code></span>
<span class="codeline" id="line-83"><code>}</code></span>
<span class="codeline" id="line-84"><code></code></span>
<span class="codeline" id="line-85"><code>// SelectKeys defines the available keys used by select mode to enable the user to move around the list</code></span>
<span class="codeline" id="line-86"><code>// and trigger search mode. See the Key struct docs for more information on keys.</code></span>
<span class="codeline" id="line-87"><code>type SelectKeys struct {</code></span>
<span class="codeline" id="line-88"><code>	// Next is the key used to move to the next element inside the list. Defaults to down arrow key.</code></span>
<span class="codeline" id="line-89"><code>	Next Key</code></span>
<span class="codeline" id="line-90"><code></code></span>
<span class="codeline" id="line-91"><code>	// Prev is the key used to move to the previous element inside the list. Defaults to up arrow key.</code></span>
<span class="codeline" id="line-92"><code>	Prev Key</code></span>
<span class="codeline" id="line-93"><code></code></span>
<span class="codeline" id="line-94"><code>	// PageUp is the key used to jump back to the first element inside the list. Defaults to left arrow key.</code></span>
<span class="codeline" id="line-95"><code>	PageUp Key</code></span>
<span class="codeline" id="line-96"><code></code></span>
<span class="codeline" id="line-97"><code>	// PageUp is the key used to jump forward to the last element inside the list. Defaults to right arrow key.</code></span>
<span class="codeline" id="line-98"><code>	PageDown Key</code></span>
<span class="codeline" id="line-99"><code></code></span>
<span class="codeline" id="line-100"><code>	// Search is the key used to trigger the search mode for the list. Default to the "/" key.</code></span>
<span class="codeline" id="line-101"><code>	Search Key</code></span>
<span class="codeline" id="line-102"><code>}</code></span>
<span class="codeline" id="line-103"><code></code></span>
<span class="codeline" id="line-104"><code>// Key defines a keyboard code and a display representation for the help menu.</code></span>
<span class="codeline" id="line-105"><code>type Key struct {</code></span>
<span class="codeline" id="line-106"><code>	// Code is a rune that will be used to compare against typed keys with readline.</code></span>
<span class="codeline" id="line-107"><code>	// Check https://github.com/chzyer/readline for a list of codes</code></span>
<span class="codeline" id="line-108"><code>	Code rune</code></span>
<span class="codeline" id="line-109"><code></code></span>
<span class="codeline" id="line-110"><code>	// Display is the string that will be displayed inside the help menu to help inform the user</code></span>
<span class="codeline" id="line-111"><code>	// of which key to use on his keyboard for various functions.</code></span>
<span class="codeline" id="line-112"><code>	Display string</code></span>
<span class="codeline" id="line-113"><code>}</code></span>
<span class="codeline" id="line-114"><code></code></span>
<span class="codeline" id="line-115"><code>// SelectTemplates allow a select list to be customized following stdlib</code></span>
<span class="codeline" id="line-116"><code>// text/template syntax. Custom state, colors and background color are available for use inside</code></span>
<span class="codeline" id="line-117"><code>// the templates and are documented inside the Variable section of the docs.</code></span>
<span class="codeline" id="line-118"><code>//</code></span>
<span class="codeline" id="line-119"><code>// Examples</code></span>
<span class="codeline" id="line-120"><code>//</code></span>
<span class="codeline" id="line-121"><code>// text/templates use a special notation to display programmable content. Using the double bracket notation,</code></span>
<span class="codeline" id="line-122"><code>// the value can be printed with specific helper functions. For example</code></span>
<span class="codeline" id="line-123"><code>//</code></span>
<span class="codeline" id="line-124"><code>// This displays the value given to the template as pure, unstylized text. Structs are transformed to string</code></span>
<span class="codeline" id="line-125"><code>// with this notation.</code></span>
<span class="codeline" id="line-126"><code>// 	'{{ . }}'</code></span>
<span class="codeline" id="line-127"><code>//</code></span>
<span class="codeline" id="line-128"><code>// This displays the name property of the value colored in cyan</code></span>
<span class="codeline" id="line-129"><code>// 	'{{ .Name | cyan }}'</code></span>
<span class="codeline" id="line-130"><code>//</code></span>
<span class="codeline" id="line-131"><code>// This displays the label property of value colored in red with a cyan background-color</code></span>
<span class="codeline" id="line-132"><code>// 	'{{ .Label | red | cyan }}'</code></span>
<span class="codeline" id="line-133"><code>//</code></span>
<span class="codeline" id="line-134"><code>// See the doc of text/template for more info: https://golang.org/pkg/text/template/</code></span>
<span class="codeline" id="line-135"><code>//</code></span>
<span class="codeline" id="line-136"><code>// Notes</code></span>
<span class="codeline" id="line-137"><code>//</code></span>
<span class="codeline" id="line-138"><code>// Setting any of these templates will remove the icons from the default templates. They must</code></span>
<span class="codeline" id="line-139"><code>// be added back in each of their specific templates. The styles.go constants contains the default icons.</code></span>
<span class="codeline" id="line-140"><code>type SelectTemplates struct {</code></span>
<span class="codeline" id="line-141"><code>	// Label is a text/template for the main command line label. Defaults to printing the label as it with</code></span>
<span class="codeline" id="line-142"><code>	// the IconInitial.</code></span>
<span class="codeline" id="line-143"><code>	Label string</code></span>
<span class="codeline" id="line-144"><code></code></span>
<span class="codeline" id="line-145"><code>	// Active is a text/template for when an item is currently active within the list.</code></span>
<span class="codeline" id="line-146"><code>	Active string</code></span>
<span class="codeline" id="line-147"><code></code></span>
<span class="codeline" id="line-148"><code>	// Inactive is a text/template for when an item is not currently active inside the list. This</code></span>
<span class="codeline" id="line-149"><code>	// template is used for all items unless they are active or selected.</code></span>
<span class="codeline" id="line-150"><code>	Inactive string</code></span>
<span class="codeline" id="line-151"><code></code></span>
<span class="codeline" id="line-152"><code>	// Selected is a text/template for when an item was successfully selected.</code></span>
<span class="codeline" id="line-153"><code>	Selected string</code></span>
<span class="codeline" id="line-154"><code></code></span>
<span class="codeline" id="line-155"><code>	// Details is a text/template for when an item current active to show</code></span>
<span class="codeline" id="line-156"><code>	// additional information. It can have multiple lines.</code></span>
<span class="codeline" id="line-157"><code>	//</code></span>
<span class="codeline" id="line-158"><code>	// Detail will always be displayed for the active element and thus can be used to display additional</code></span>
<span class="codeline" id="line-159"><code>	// information on the element beyond its label.</code></span>
<span class="codeline" id="line-160"><code>	//</code></span>
<span class="codeline" id="line-161"><code>	// promptui will not trim spaces and tabs will be displayed if the template is indented.</code></span>
<span class="codeline" id="line-162"><code>	Details string</code></span>
<span class="codeline" id="line-163"><code></code></span>
<span class="codeline" id="line-164"><code>	// Help is a text/template for displaying instructions at the top. By default</code></span>
<span class="codeline" id="line-165"><code>	// it shows keys for movement and search.</code></span>
<span class="codeline" id="line-166"><code>	Help string</code></span>
<span class="codeline" id="line-167"><code></code></span>
<span class="codeline" id="line-168"><code>	// FuncMap is a map of helper functions that can be used inside of templates according to the text/template</code></span>
<span class="codeline" id="line-169"><code>	// documentation.</code></span>
<span class="codeline" id="line-170"><code>	//</code></span>
<span class="codeline" id="line-171"><code>	// By default, FuncMap contains the color functions used to color the text in templates. If FuncMap</code></span>
<span class="codeline" id="line-172"><code>	// is overridden, the colors functions must be added in the override from promptui.FuncMap to work.</code></span>
<span class="codeline" id="line-173"><code>	FuncMap template.FuncMap</code></span>
<span class="codeline" id="line-174"><code></code></span>
<span class="codeline" id="line-175"><code>	label    *template.Template</code></span>
<span class="codeline" id="line-176"><code>	active   *template.Template</code></span>
<span class="codeline" id="line-177"><code>	inactive *template.Template</code></span>
<span class="codeline" id="line-178"><code>	selected *template.Template</code></span>
<span class="codeline" id="line-179"><code>	details  *template.Template</code></span>
<span class="codeline" id="line-180"><code>	help     *template.Template</code></span>
<span class="codeline" id="line-181"><code>}</code></span>
<span class="codeline" id="line-182"><code></code></span>
<span class="codeline" id="line-183"><code>// SearchPrompt is the prompt displayed in search mode.</code></span>
<span class="codeline" id="line-184"><code>var SearchPrompt = "Search: "</code></span>
<span class="codeline" id="line-185"><code></code></span>
<span class="codeline" id="line-186"><code>// Run executes the select list. It displays the label and the list of items, asking the user to chose any</code></span>
<span class="codeline" id="line-187"><code>// value within to list. Run will keep the prompt alive until it has been canceled from</code></span>
<span class="codeline" id="line-188"><code>// the command prompt or it has received a valid value. It will return the value and an error if any</code></span>
<span class="codeline" id="line-189"><code>// occurred during the select's execution.</code></span>
<span class="codeline" id="line-190"><code>func (s *Select) Run() (int, string, error) {</code></span>
<span class="codeline" id="line-191"><code>	return s.RunCursorAt(s.CursorPos, 0)</code></span>
<span class="codeline" id="line-192"><code>}</code></span>
<span class="codeline" id="line-193"><code></code></span>
<span class="codeline" id="line-194"><code>// RunCursorAt executes the select list, initializing the cursor to the given</code></span>
<span class="codeline" id="line-195"><code>// position. Invalid cursor positions will be clamped to valid values.  It</code></span>
<span class="codeline" id="line-196"><code>// displays the label and the list of items, asking the user to chose any value</code></span>
<span class="codeline" id="line-197"><code>// within to list. Run will keep the prompt alive until it has been canceled</code></span>
<span class="codeline" id="line-198"><code>// from the command prompt or it has received a valid value. It will return</code></span>
<span class="codeline" id="line-199"><code>// the value and an error if any occurred during the select's execution.</code></span>
<span class="codeline" id="line-200"><code>func (s *Select) RunCursorAt(cursorPos, scroll int) (int, string, error) {</code></span>
<span class="codeline" id="line-201"><code>	if s.Size == 0 {</code></span>
<span class="codeline" id="line-202"><code>		s.Size = 5</code></span>
<span class="codeline" id="line-203"><code>	}</code></span>
<span class="codeline" id="line-204"><code></code></span>
<span class="codeline" id="line-205"><code>	l, err := list.New(s.Items, s.Size)</code></span>
<span class="codeline" id="line-206"><code>	if err != nil {</code></span>
<span class="codeline" id="line-207"><code>		return 0, "", err</code></span>
<span class="codeline" id="line-208"><code>	}</code></span>
<span class="codeline" id="line-209"><code>	l.Searcher = s.Searcher</code></span>
<span class="codeline" id="line-210"><code></code></span>
<span class="codeline" id="line-211"><code>	s.list = l</code></span>
<span class="codeline" id="line-212"><code></code></span>
<span class="codeline" id="line-213"><code>	s.setKeys()</code></span>
<span class="codeline" id="line-214"><code></code></span>
<span class="codeline" id="line-215"><code>	err = s.prepareTemplates()</code></span>
<span class="codeline" id="line-216"><code>	if err != nil {</code></span>
<span class="codeline" id="line-217"><code>		return 0, "", err</code></span>
<span class="codeline" id="line-218"><code>	}</code></span>
<span class="codeline" id="line-219"><code>	return s.innerRun(cursorPos, scroll, ' ')</code></span>
<span class="codeline" id="line-220"><code>}</code></span>
<span class="codeline" id="line-221"><code></code></span>
<span class="codeline" id="line-222"><code>func (s *Select) innerRun(cursorPos, scroll int, top rune) (int, string, error) {</code></span>
<span class="codeline" id="line-223"><code>	c := &amp;readline.Config{</code></span>
<span class="codeline" id="line-224"><code>		Stdin:  s.Stdin,</code></span>
<span class="codeline" id="line-225"><code>		Stdout: s.Stdout,</code></span>
<span class="codeline" id="line-226"><code>	}</code></span>
<span class="codeline" id="line-227"><code>	err := c.Init()</code></span>
<span class="codeline" id="line-228"><code>	if err != nil {</code></span>
<span class="codeline" id="line-229"><code>		return 0, "", err</code></span>
<span class="codeline" id="line-230"><code>	}</code></span>
<span class="codeline" id="line-231"><code></code></span>
<span class="codeline" id="line-232"><code>	c.Stdin = readline.NewCancelableStdin(c.Stdin)</code></span>
<span class="codeline" id="line-233"><code></code></span>
<span class="codeline" id="line-234"><code>	if s.IsVimMode {</code></span>
<span class="codeline" id="line-235"><code>		c.VimMode = true</code></span>
<span class="codeline" id="line-236"><code>	}</code></span>
<span class="codeline" id="line-237"><code></code></span>
<span class="codeline" id="line-238"><code>	c.HistoryLimit = -1</code></span>
<span class="codeline" id="line-239"><code>	c.UniqueEditLine = true</code></span>
<span class="codeline" id="line-240"><code></code></span>
<span class="codeline" id="line-241"><code>	rl, err := readline.NewEx(c)</code></span>
<span class="codeline" id="line-242"><code>	if err != nil {</code></span>
<span class="codeline" id="line-243"><code>		return 0, "", err</code></span>
<span class="codeline" id="line-244"><code>	}</code></span>
<span class="codeline" id="line-245"><code></code></span>
<span class="codeline" id="line-246"><code>	rl.Write([]byte(hideCursor))</code></span>
<span class="codeline" id="line-247"><code>	sb := screenbuf.New(rl)</code></span>
<span class="codeline" id="line-248"><code></code></span>
<span class="codeline" id="line-249"><code>	cur := NewCursor("", s.Pointer, false)</code></span>
<span class="codeline" id="line-250"><code></code></span>
<span class="codeline" id="line-251"><code>	canSearch := s.Searcher != nil</code></span>
<span class="codeline" id="line-252"><code>	searchMode := s.StartInSearchMode</code></span>
<span class="codeline" id="line-253"><code>	s.list.SetCursor(cursorPos)</code></span>
<span class="codeline" id="line-254"><code>	s.list.SetStart(scroll)</code></span>
<span class="codeline" id="line-255"><code></code></span>
<span class="codeline" id="line-256"><code>	c.SetListener(func(line []rune, pos int, key rune) ([]rune, int, bool) {</code></span>
<span class="codeline" id="line-257"><code>		switch {</code></span>
<span class="codeline" id="line-258"><code>		case key == KeyEnter:</code></span>
<span class="codeline" id="line-259"><code>			return nil, 0, true</code></span>
<span class="codeline" id="line-260"><code>		case key == s.Keys.Next.Code || (key == 'j' &amp;&amp; !searchMode):</code></span>
<span class="codeline" id="line-261"><code>			s.list.Next()</code></span>
<span class="codeline" id="line-262"><code>		case key == s.Keys.Prev.Code || (key == 'k' &amp;&amp; !searchMode):</code></span>
<span class="codeline" id="line-263"><code>			s.list.Prev()</code></span>
<span class="codeline" id="line-264"><code>		case key == s.Keys.Search.Code:</code></span>
<span class="codeline" id="line-265"><code>			if !canSearch {</code></span>
<span class="codeline" id="line-266"><code>				break</code></span>
<span class="codeline" id="line-267"><code>			}</code></span>
<span class="codeline" id="line-268"><code></code></span>
<span class="codeline" id="line-269"><code>			if searchMode {</code></span>
<span class="codeline" id="line-270"><code>				searchMode = false</code></span>
<span class="codeline" id="line-271"><code>				cur.Replace("")</code></span>
<span class="codeline" id="line-272"><code>				s.list.CancelSearch()</code></span>
<span class="codeline" id="line-273"><code>			} else {</code></span>
<span class="codeline" id="line-274"><code>				searchMode = true</code></span>
<span class="codeline" id="line-275"><code>			}</code></span>
<span class="codeline" id="line-276"><code>		case key == KeyBackspace || key == KeyCtrlH:</code></span>
<span class="codeline" id="line-277"><code>			if !canSearch || !searchMode {</code></span>
<span class="codeline" id="line-278"><code>				break</code></span>
<span class="codeline" id="line-279"><code>			}</code></span>
<span class="codeline" id="line-280"><code></code></span>
<span class="codeline" id="line-281"><code>			cur.Backspace()</code></span>
<span class="codeline" id="line-282"><code>			if len(cur.Get()) &gt; 0 {</code></span>
<span class="codeline" id="line-283"><code>				s.list.Search(cur.Get())</code></span>
<span class="codeline" id="line-284"><code>			} else {</code></span>
<span class="codeline" id="line-285"><code>				s.list.CancelSearch()</code></span>
<span class="codeline" id="line-286"><code>			}</code></span>
<span class="codeline" id="line-287"><code>		case key == s.Keys.PageUp.Code || (key == 'h' &amp;&amp; !searchMode):</code></span>
<span class="codeline" id="line-288"><code>			s.list.PageUp()</code></span>
<span class="codeline" id="line-289"><code>		case key == s.Keys.PageDown.Code || (key == 'l' &amp;&amp; !searchMode):</code></span>
<span class="codeline" id="line-290"><code>			s.list.PageDown()</code></span>
<span class="codeline" id="line-291"><code>		default:</code></span>
<span class="codeline" id="line-292"><code>			if canSearch &amp;&amp; searchMode {</code></span>
<span class="codeline" id="line-293"><code>				cur.Update(string(line))</code></span>
<span class="codeline" id="line-294"><code>				s.list.Search(cur.Get())</code></span>
<span class="codeline" id="line-295"><code>			}</code></span>
<span class="codeline" id="line-296"><code>		}</code></span>
<span class="codeline" id="line-297"><code></code></span>
<span class="codeline" id="line-298"><code>		if searchMode {</code></span>
<span class="codeline" id="line-299"><code>			header := SearchPrompt + cur.Format()</code></span>
<span class="codeline" id="line-300"><code>			sb.WriteString(header)</code></span>
<span class="codeline" id="line-301"><code>		} else if !s.HideHelp {</code></span>
<span class="codeline" id="line-302"><code>			help := s.renderHelp(canSearch)</code></span>
<span class="codeline" id="line-303"><code>			sb.Write(help)</code></span>
<span class="codeline" id="line-304"><code>		}</code></span>
<span class="codeline" id="line-305"><code></code></span>
<span class="codeline" id="line-306"><code>		label := render(s.Templates.label, s.Label)</code></span>
<span class="codeline" id="line-307"><code>		sb.Write(label)</code></span>
<span class="codeline" id="line-308"><code></code></span>
<span class="codeline" id="line-309"><code>		items, idx := s.list.Items()</code></span>
<span class="codeline" id="line-310"><code>		last := len(items) - 1</code></span>
<span class="codeline" id="line-311"><code></code></span>
<span class="codeline" id="line-312"><code>		for i, item := range items {</code></span>
<span class="codeline" id="line-313"><code>			page := " "</code></span>
<span class="codeline" id="line-314"><code></code></span>
<span class="codeline" id="line-315"><code>			switch i {</code></span>
<span class="codeline" id="line-316"><code>			case 0:</code></span>
<span class="codeline" id="line-317"><code>				if s.list.CanPageUp() {</code></span>
<span class="codeline" id="line-318"><code>					page = "↑"</code></span>
<span class="codeline" id="line-319"><code>				} else {</code></span>
<span class="codeline" id="line-320"><code>					page = string(top)</code></span>
<span class="codeline" id="line-321"><code>				}</code></span>
<span class="codeline" id="line-322"><code>			case last:</code></span>
<span class="codeline" id="line-323"><code>				if s.list.CanPageDown() {</code></span>
<span class="codeline" id="line-324"><code>					page = "↓"</code></span>
<span class="codeline" id="line-325"><code>				}</code></span>
<span class="codeline" id="line-326"><code>			}</code></span>
<span class="codeline" id="line-327"><code></code></span>
<span class="codeline" id="line-328"><code>			output := []byte(page + " ")</code></span>
<span class="codeline" id="line-329"><code></code></span>
<span class="codeline" id="line-330"><code>			if i == idx {</code></span>
<span class="codeline" id="line-331"><code>				output = append(output, render(s.Templates.active, item)...)</code></span>
<span class="codeline" id="line-332"><code>			} else {</code></span>
<span class="codeline" id="line-333"><code>				output = append(output, render(s.Templates.inactive, item)...)</code></span>
<span class="codeline" id="line-334"><code>			}</code></span>
<span class="codeline" id="line-335"><code></code></span>
<span class="codeline" id="line-336"><code>			sb.Write(output)</code></span>
<span class="codeline" id="line-337"><code>		}</code></span>
<span class="codeline" id="line-338"><code></code></span>
<span class="codeline" id="line-339"><code>		if idx == list.NotFound {</code></span>
<span class="codeline" id="line-340"><code>			sb.WriteString("")</code></span>
<span class="codeline" id="line-341"><code>			sb.WriteString("No results")</code></span>
<span class="codeline" id="line-342"><code>		} else {</code></span>
<span class="codeline" id="line-343"><code>			active := items[idx]</code></span>
<span class="codeline" id="line-344"><code></code></span>
<span class="codeline" id="line-345"><code>			details := s.renderDetails(active)</code></span>
<span class="codeline" id="line-346"><code>			for _, d := range details {</code></span>
<span class="codeline" id="line-347"><code>				sb.Write(d)</code></span>
<span class="codeline" id="line-348"><code>			}</code></span>
<span class="codeline" id="line-349"><code>		}</code></span>
<span class="codeline" id="line-350"><code></code></span>
<span class="codeline" id="line-351"><code>		sb.Flush()</code></span>
<span class="codeline" id="line-352"><code></code></span>
<span class="codeline" id="line-353"><code>		return nil, 0, true</code></span>
<span class="codeline" id="line-354"><code>	})</code></span>
<span class="codeline" id="line-355"><code></code></span>
<span class="codeline" id="line-356"><code>	for {</code></span>
<span class="codeline" id="line-357"><code>		_, err = rl.Readline()</code></span>
<span class="codeline" id="line-358"><code></code></span>
<span class="codeline" id="line-359"><code>		if err != nil {</code></span>
<span class="codeline" id="line-360"><code>			switch {</code></span>
<span class="codeline" id="line-361"><code>			case err == readline.ErrInterrupt, err.Error() == "Interrupt":</code></span>
<span class="codeline" id="line-362"><code>				err = ErrInterrupt</code></span>
<span class="codeline" id="line-363"><code>			case err == io.EOF:</code></span>
<span class="codeline" id="line-364"><code>				err = ErrEOF</code></span>
<span class="codeline" id="line-365"><code>			}</code></span>
<span class="codeline" id="line-366"><code>			break</code></span>
<span class="codeline" id="line-367"><code>		}</code></span>
<span class="codeline" id="line-368"><code></code></span>
<span class="codeline" id="line-369"><code>		_, idx := s.list.Items()</code></span>
<span class="codeline" id="line-370"><code>		if idx != list.NotFound {</code></span>
<span class="codeline" id="line-371"><code>			break</code></span>
<span class="codeline" id="line-372"><code>		}</code></span>
<span class="codeline" id="line-373"><code></code></span>
<span class="codeline" id="line-374"><code>	}</code></span>
<span class="codeline" id="line-375"><code></code></span>
<span class="codeline" id="line-376"><code>	if err != nil {</code></span>
<span class="codeline" id="line-377"><code>		if err.Error() == "Interrupt" {</code></span>
<span class="codeline" id="line-378"><code>			err = ErrInterrupt</code></span>
<span class="codeline" id="line-379"><code>		}</code></span>
<span class="codeline" id="line-380"><code>		sb.Reset()</code></span>
<span class="codeline" id="line-381"><code>		sb.WriteString("")</code></span>
<span class="codeline" id="line-382"><code>		sb.Flush()</code></span>
<span class="codeline" id="line-383"><code>		rl.Write([]byte(showCursor))</code></span>
<span class="codeline" id="line-384"><code>		rl.Close()</code></span>
<span class="codeline" id="line-385"><code>		return 0, "", err</code></span>
<span class="codeline" id="line-386"><code>	}</code></span>
<span class="codeline" id="line-387"><code></code></span>
<span class="codeline" id="line-388"><code>	items, idx := s.list.Items()</code></span>
<span class="codeline" id="line-389"><code>	item := items[idx]</code></span>
<span class="codeline" id="line-390"><code></code></span>
<span class="codeline" id="line-391"><code>	if s.HideSelected {</code></span>
<span class="codeline" id="line-392"><code>		clearScreen(sb)</code></span>
<span class="codeline" id="line-393"><code>	} else {</code></span>
<span class="codeline" id="line-394"><code>		sb.Reset()</code></span>
<span class="codeline" id="line-395"><code>		sb.Write(render(s.Templates.selected, item))</code></span>
<span class="codeline" id="line-396"><code>		sb.Flush()</code></span>
<span class="codeline" id="line-397"><code>	}</code></span>
<span class="codeline" id="line-398"><code></code></span>
<span class="codeline" id="line-399"><code>	rl.Write([]byte(showCursor))</code></span>
<span class="codeline" id="line-400"><code>	rl.Close()</code></span>
<span class="codeline" id="line-401"><code></code></span>
<span class="codeline" id="line-402"><code>	return s.list.Index(), fmt.Sprintf("%v", item), err</code></span>
<span class="codeline" id="line-403"><code>}</code></span>
<span class="codeline" id="line-404"><code></code></span>
<span class="codeline" id="line-405"><code>// ScrollPosition returns the current scroll position.</code></span>
<span class="codeline" id="line-406"><code>func (s *Select) ScrollPosition() int {</code></span>
<span class="codeline" id="line-407"><code>	return s.list.Start()</code></span>
<span class="codeline" id="line-408"><code>}</code></span>
<span class="codeline" id="line-409"><code></code></span>
<span class="codeline" id="line-410"><code>func (s *Select) prepareTemplates() error {</code></span>
<span class="codeline" id="line-411"><code>	tpls := s.Templates</code></span>
<span class="codeline" id="line-412"><code>	if tpls == nil {</code></span>
<span class="codeline" id="line-413"><code>		tpls = &amp;SelectTemplates{}</code></span>
<span class="codeline" id="line-414"><code>	}</code></span>
<span class="codeline" id="line-415"><code></code></span>
<span class="codeline" id="line-416"><code>	if tpls.FuncMap == nil {</code></span>
<span class="codeline" id="line-417"><code>		tpls.FuncMap = FuncMap</code></span>
<span class="codeline" id="line-418"><code>	}</code></span>
<span class="codeline" id="line-419"><code></code></span>
<span class="codeline" id="line-420"><code>	if tpls.Label == "" {</code></span>
<span class="codeline" id="line-421"><code>		tpls.Label = fmt.Sprintf("%s {{.}}: ", IconInitial)</code></span>
<span class="codeline" id="line-422"><code>	}</code></span>
<span class="codeline" id="line-423"><code></code></span>
<span class="codeline" id="line-424"><code>	tpl, err := template.New("").Funcs(tpls.FuncMap).Parse(tpls.Label)</code></span>
<span class="codeline" id="line-425"><code>	if err != nil {</code></span>
<span class="codeline" id="line-426"><code>		return err</code></span>
<span class="codeline" id="line-427"><code>	}</code></span>
<span class="codeline" id="line-428"><code></code></span>
<span class="codeline" id="line-429"><code>	tpls.label = tpl</code></span>
<span class="codeline" id="line-430"><code></code></span>
<span class="codeline" id="line-431"><code>	if tpls.Active == "" {</code></span>
<span class="codeline" id="line-432"><code>		tpls.Active = fmt.Sprintf("%s {{ . | underline }}", IconSelect)</code></span>
<span class="codeline" id="line-433"><code>	}</code></span>
<span class="codeline" id="line-434"><code></code></span>
<span class="codeline" id="line-435"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Active)</code></span>
<span class="codeline" id="line-436"><code>	if err != nil {</code></span>
<span class="codeline" id="line-437"><code>		return err</code></span>
<span class="codeline" id="line-438"><code>	}</code></span>
<span class="codeline" id="line-439"><code></code></span>
<span class="codeline" id="line-440"><code>	tpls.active = tpl</code></span>
<span class="codeline" id="line-441"><code></code></span>
<span class="codeline" id="line-442"><code>	if tpls.Inactive == "" {</code></span>
<span class="codeline" id="line-443"><code>		tpls.Inactive = "  {{.}}"</code></span>
<span class="codeline" id="line-444"><code>	}</code></span>
<span class="codeline" id="line-445"><code></code></span>
<span class="codeline" id="line-446"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Inactive)</code></span>
<span class="codeline" id="line-447"><code>	if err != nil {</code></span>
<span class="codeline" id="line-448"><code>		return err</code></span>
<span class="codeline" id="line-449"><code>	}</code></span>
<span class="codeline" id="line-450"><code></code></span>
<span class="codeline" id="line-451"><code>	tpls.inactive = tpl</code></span>
<span class="codeline" id="line-452"><code></code></span>
<span class="codeline" id="line-453"><code>	if tpls.Selected == "" {</code></span>
<span class="codeline" id="line-454"><code>		tpls.Selected = fmt.Sprintf(`{{ "%s" | green }} {{ . | faint }}`, IconGood)</code></span>
<span class="codeline" id="line-455"><code>	}</code></span>
<span class="codeline" id="line-456"><code></code></span>
<span class="codeline" id="line-457"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Selected)</code></span>
<span class="codeline" id="line-458"><code>	if err != nil {</code></span>
<span class="codeline" id="line-459"><code>		return err</code></span>
<span class="codeline" id="line-460"><code>	}</code></span>
<span class="codeline" id="line-461"><code>	tpls.selected = tpl</code></span>
<span class="codeline" id="line-462"><code></code></span>
<span class="codeline" id="line-463"><code>	if tpls.Details != "" {</code></span>
<span class="codeline" id="line-464"><code>		tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Details)</code></span>
<span class="codeline" id="line-465"><code>		if err != nil {</code></span>
<span class="codeline" id="line-466"><code>			return err</code></span>
<span class="codeline" id="line-467"><code>		}</code></span>
<span class="codeline" id="line-468"><code></code></span>
<span class="codeline" id="line-469"><code>		tpls.details = tpl</code></span>
<span class="codeline" id="line-470"><code>	}</code></span>
<span class="codeline" id="line-471"><code></code></span>
<span class="codeline" id="line-472"><code>	if tpls.Help == "" {</code></span>
<span class="codeline" id="line-473"><code>		tpls.Help = fmt.Sprintf(`{{ "Use the arrow keys to navigate:" | faint }} {{ .NextKey | faint }} ` +</code></span>
<span class="codeline" id="line-474"><code>			`{{ .PrevKey | faint }} {{ .PageDownKey | faint }} {{ .PageUpKey | faint }} ` +</code></span>
<span class="codeline" id="line-475"><code>			`{{ if .Search }} {{ "and" | faint }} {{ .SearchKey | faint }} {{ "toggles search" | faint }}{{ end }}`)</code></span>
<span class="codeline" id="line-476"><code>	}</code></span>
<span class="codeline" id="line-477"><code></code></span>
<span class="codeline" id="line-478"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Help)</code></span>
<span class="codeline" id="line-479"><code>	if err != nil {</code></span>
<span class="codeline" id="line-480"><code>		return err</code></span>
<span class="codeline" id="line-481"><code>	}</code></span>
<span class="codeline" id="line-482"><code></code></span>
<span class="codeline" id="line-483"><code>	tpls.help = tpl</code></span>
<span class="codeline" id="line-484"><code></code></span>
<span class="codeline" id="line-485"><code>	s.Templates = tpls</code></span>
<span class="codeline" id="line-486"><code></code></span>
<span class="codeline" id="line-487"><code>	return nil</code></span>
<span class="codeline" id="line-488"><code>}</code></span>
<span class="codeline" id="line-489"><code></code></span>
<span class="codeline" id="line-490"><code>// SelectWithAdd represents a list for selecting a single item inside a list of items with the possibility to</code></span>
<span class="codeline" id="line-491"><code>// add new items to the list.</code></span>
<span class="codeline" id="line-492"><code>type SelectWithAdd struct {</code></span>
<span class="codeline" id="line-493"><code>	// Label is the text displayed on top of the list to direct input. The IconInitial value "?" will be</code></span>
<span class="codeline" id="line-494"><code>	// appended automatically to the label so it does not need to be added.</code></span>
<span class="codeline" id="line-495"><code>	Label string</code></span>
<span class="codeline" id="line-496"><code></code></span>
<span class="codeline" id="line-497"><code>	// Items are the items to display inside the list. Each item will be listed individually with the</code></span>
<span class="codeline" id="line-498"><code>	// AddLabel as the first item of the list.</code></span>
<span class="codeline" id="line-499"><code>	Items []string</code></span>
<span class="codeline" id="line-500"><code></code></span>
<span class="codeline" id="line-501"><code>	// AddLabel is the label used for the first item of the list that enables adding a new item.</code></span>
<span class="codeline" id="line-502"><code>	// Selecting this item in the list displays the add item prompt using promptui/prompt.</code></span>
<span class="codeline" id="line-503"><code>	AddLabel string</code></span>
<span class="codeline" id="line-504"><code></code></span>
<span class="codeline" id="line-505"><code>	// Validate is an optional function that fill be used against the entered value in the prompt to validate it.</code></span>
<span class="codeline" id="line-506"><code>	// If the value is valid, it is returned to the callee to be added in the list.</code></span>
<span class="codeline" id="line-507"><code>	Validate ValidateFunc</code></span>
<span class="codeline" id="line-508"><code></code></span>
<span class="codeline" id="line-509"><code>	// IsVimMode sets whether to use vim mode when using readline in the command prompt. Look at</code></span>
<span class="codeline" id="line-510"><code>	// https://godoc.org/github.com/chzyer/readline#Config for more information on readline.</code></span>
<span class="codeline" id="line-511"><code>	IsVimMode bool</code></span>
<span class="codeline" id="line-512"><code></code></span>
<span class="codeline" id="line-513"><code>	// a function that defines how to render the cursor</code></span>
<span class="codeline" id="line-514"><code>	Pointer Pointer</code></span>
<span class="codeline" id="line-515"><code></code></span>
<span class="codeline" id="line-516"><code>	// HideHelp sets whether to hide help information.</code></span>
<span class="codeline" id="line-517"><code>	HideHelp bool</code></span>
<span class="codeline" id="line-518"><code>}</code></span>
<span class="codeline" id="line-519"><code></code></span>
<span class="codeline" id="line-520"><code>// Run executes the select list. Its displays the label and the list of items, asking the user to chose any</code></span>
<span class="codeline" id="line-521"><code>// value within to list or add his own. Run will keep the prompt alive until it has been canceled from</code></span>
<span class="codeline" id="line-522"><code>// the command prompt or it has received a valid value.</code></span>
<span class="codeline" id="line-523"><code>//</code></span>
<span class="codeline" id="line-524"><code>// If the addLabel is selected in the list, this function will return a -1 index with the added label and no error.</code></span>
<span class="codeline" id="line-525"><code>// Otherwise, it will return the index and the value of the selected item. In any case, if an error is triggered, it</code></span>
<span class="codeline" id="line-526"><code>// will also return the error as its third return value.</code></span>
<span class="codeline" id="line-527"><code>func (sa *SelectWithAdd) Run() (int, string, error) {</code></span>
<span class="codeline" id="line-528"><code>	if len(sa.Items) &gt; 0 {</code></span>
<span class="codeline" id="line-529"><code>		newItems := append([]string{sa.AddLabel}, sa.Items...)</code></span>
<span class="codeline" id="line-530"><code></code></span>
<span class="codeline" id="line-531"><code>		list, err := list.New(newItems, 5)</code></span>
<span class="codeline" id="line-532"><code>		if err != nil {</code></span>
<span class="codeline" id="line-533"><code>			return 0, "", err</code></span>
<span class="codeline" id="line-534"><code>		}</code></span>
<span class="codeline" id="line-535"><code></code></span>
<span class="codeline" id="line-536"><code>		s := Select{</code></span>
<span class="codeline" id="line-537"><code>			Label:     sa.Label,</code></span>
<span class="codeline" id="line-538"><code>			Items:     newItems,</code></span>
<span class="codeline" id="line-539"><code>			IsVimMode: sa.IsVimMode,</code></span>
<span class="codeline" id="line-540"><code>			HideHelp:  sa.HideHelp,</code></span>
<span class="codeline" id="line-541"><code>			Size:      5,</code></span>
<span class="codeline" id="line-542"><code>			list:      list,</code></span>
<span class="codeline" id="line-543"><code>			Pointer:   sa.Pointer,</code></span>
<span class="codeline" id="line-544"><code>		}</code></span>
<span class="codeline" id="line-545"><code>		s.setKeys()</code></span>
<span class="codeline" id="line-546"><code></code></span>
<span class="codeline" id="line-547"><code>		err = s.prepareTemplates()</code></span>
<span class="codeline" id="line-548"><code>		if err != nil {</code></span>
<span class="codeline" id="line-549"><code>			return 0, "", err</code></span>
<span class="codeline" id="line-550"><code>		}</code></span>
<span class="codeline" id="line-551"><code></code></span>
<span class="codeline" id="line-552"><code>		selected, value, err := s.innerRun(1, 0, '+')</code></span>
<span class="codeline" id="line-553"><code>		if err != nil || selected != 0 {</code></span>
<span class="codeline" id="line-554"><code>			return selected - 1, value, err</code></span>
<span class="codeline" id="line-555"><code>		}</code></span>
<span class="codeline" id="line-556"><code></code></span>
<span class="codeline" id="line-557"><code>		// XXX run through terminal for windows</code></span>
<span class="codeline" id="line-558"><code>		os.Stdout.Write([]byte(upLine(1) + "\r" + clearLine))</code></span>
<span class="codeline" id="line-559"><code>	}</code></span>
<span class="codeline" id="line-560"><code></code></span>
<span class="codeline" id="line-561"><code>	p := Prompt{</code></span>
<span class="codeline" id="line-562"><code>		Label:     sa.AddLabel,</code></span>
<span class="codeline" id="line-563"><code>		Validate:  sa.Validate,</code></span>
<span class="codeline" id="line-564"><code>		IsVimMode: sa.IsVimMode,</code></span>
<span class="codeline" id="line-565"><code>		Pointer:   sa.Pointer,</code></span>
<span class="codeline" id="line-566"><code>	}</code></span>
<span class="codeline" id="line-567"><code>	value, err := p.Run()</code></span>
<span class="codeline" id="line-568"><code>	return SelectedAdd, value, err</code></span>
<span class="codeline" id="line-569"><code>}</code></span>
<span class="codeline" id="line-570"><code></code></span>
<span class="codeline" id="line-571"><code>func (s *Select) setKeys() {</code></span>
<span class="codeline" id="line-572"><code>	if s.Keys != nil {</code></span>
<span class="codeline" id="line-573"><code>		return</code></span>
<span class="codeline" id="line-574"><code>	}</code></span>
<span class="codeline" id="line-575"><code>	s.Keys = &amp;SelectKeys{</code></span>
<span class="codeline" id="line-576"><code>		Prev:     Key{Code: KeyPrev, Display: KeyPrevDisplay},</code></span>
<span class="codeline" id="line-577"><code>		Next:     Key{Code: KeyNext, Display: KeyNextDisplay},</code></span>
<span class="codeline" id="line-578"><code>		PageUp:   Key{Code: KeyBackward, Display: KeyBackwardDisplay},</code></span>
<span class="codeline" id="line-579"><code>		PageDown: Key{Code: KeyForward, Display: KeyForwardDisplay},</code></span>
<span class="codeline" id="line-580"><code>		Search:   Key{Code: '/', Display: "/"},</code></span>
<span class="codeline" id="line-581"><code>	}</code></span>
<span class="codeline" id="line-582"><code>}</code></span>
<span class="codeline" id="line-583"><code></code></span>
<span class="codeline" id="line-584"><code>func (s *Select) renderDetails(item interface{}) [][]byte {</code></span>
<span class="codeline" id="line-585"><code>	if s.Templates.details == nil {</code></span>
<span class="codeline" id="line-586"><code>		return nil</code></span>
<span class="codeline" id="line-587"><code>	}</code></span>
<span class="codeline" id="line-588"><code></code></span>
<span class="codeline" id="line-589"><code>	var buf bytes.Buffer</code></span>
<span class="codeline" id="line-590"><code>	w := ansiterm.NewTabWriter(&amp;buf, 0, 0, 8, ' ', 0)</code></span>
<span class="codeline" id="line-591"><code></code></span>
<span class="codeline" id="line-592"><code>	err := s.Templates.details.Execute(w, item)</code></span>
<span class="codeline" id="line-593"><code>	if err != nil {</code></span>
<span class="codeline" id="line-594"><code>		fmt.Fprintf(w, "%v", item)</code></span>
<span class="codeline" id="line-595"><code>	}</code></span>
<span class="codeline" id="line-596"><code></code></span>
<span class="codeline" id="line-597"><code>	w.Flush()</code></span>
<span class="codeline" id="line-598"><code></code></span>
<span class="codeline" id="line-599"><code>	output := buf.Bytes()</code></span>
<span class="codeline" id="line-600"><code></code></span>
<span class="codeline" id="line-601"><code>	return bytes.Split(output, []byte("\n"))</code></span>
<span class="codeline" id="line-602"><code>}</code></span>
<span class="codeline" id="line-603"><code></code></span>
<span class="codeline" id="line-604"><code>func (s *Select) renderHelp(b bool) []byte {</code></span>
<span class="codeline" id="line-605"><code>	keys := struct {</code></span>
<span class="codeline" id="line-606"><code>		NextKey     string</code></span>
<span class="codeline" id="line-607"><code>		PrevKey     string</code></span>
<span class="codeline" id="line-608"><code>		PageDownKey string</code></span>
<span class="codeline" id="line-609"><code>		PageUpKey   string</code></span>
<span class="codeline" id="line-610"><code>		Search      bool</code></span>
<span class="codeline" id="line-611"><code>		SearchKey   string</code></span>
<span class="codeline" id="line-612"><code>	}{</code></span>
<span class="codeline" id="line-613"><code>		NextKey:     s.Keys.Next.Display,</code></span>
<span class="codeline" id="line-614"><code>		PrevKey:     s.Keys.Prev.Display,</code></span>
<span class="codeline" id="line-615"><code>		PageDownKey: s.Keys.PageDown.Display,</code></span>
<span class="codeline" id="line-616"><code>		PageUpKey:   s.Keys.PageUp.Display,</code></span>
<span class="codeline" id="line-617"><code>		SearchKey:   s.Keys.Search.Display,</code></span>
<span class="codeline" id="line-618"><code>		Search:      b,</code></span>
<span class="codeline" id="line-619"><code>	}</code></span>
<span class="codeline" id="line-620"><code></code></span>
<span class="codeline" id="line-621"><code>	return render(s.Templates.help, keys)</code></span>
<span class="codeline" id="line-622"><code>}</code></span>
<span class="codeline" id="line-623"><code></code></span>
<span class="codeline" id="line-624"><code>func render(tpl *template.Template, data interface{}) []byte {</code></span>
<span class="codeline" id="line-625"><code>	var buf bytes.Buffer</code></span>
<span class="codeline" id="line-626"><code>	err := tpl.Execute(&amp;buf, data)</code></span>
<span class="codeline" id="line-627"><code>	if err != nil {</code></span>
<span class="codeline" id="line-628"><code>		return []byte(fmt.Sprintf("%v", data))</code></span>
<span class="codeline" id="line-629"><code>	}</code></span>
<span class="codeline" id="line-630"><code>	return buf.Bytes()</code></span>
<span class="codeline" id="line-631"><code>}</code></span>
<span class="codeline" id="line-632"><code></code></span>
<span class="codeline" id="line-633"><code>func clearScreen(sb *screenbuf.ScreenBuf) {</code></span>
<span class="codeline" id="line-634"><code>	sb.Reset()</code></span>
<span class="codeline" id="line-635"><code>	sb.Clear()</code></span>
<span class="codeline" id="line-636"><code>	sb.Flush()</code></span>
<span class="codeline" id="line-637"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>