<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Package: github.com/manifoldco/promptui</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="package-details"><code><span style="font-size:xx-large;">package <b>promptui</b></span>

<span class="title">Import Path</span>
	<a href="../../../index.html#pkg-github.com/manifoldco/promptui">github.com/manifoldco/promptui</a><i> (on <a href="https://pkg.go.dev/github.com/manifoldco/promptui" target="_blank">go.dev</a>)</i>

<span class="title">Dependency Relation</span>
	imports <a href="../../../dep/github.com/manifoldco/promptui.html">12 packages</a>, and imported by <a href="../../../dep/github.com/manifoldco/promptui.html#imported-by">one package</a>

<div id="files"><span class="title">Involved Source Files</span>

	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/codes.go.html">codes.go</a></span>
	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html">cursor.go</a></span>
	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html">keycodes.go</a></span>
	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/keycodes_other.go.html">keycodes_other.go</a></span>
	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/prompt.go.html">prompt.go</a></span>
	<input type='checkbox' checked class="fold" id="file-5-fold-content"><label for="file-5-fold-content">   <a href="../../../src/github.com/manifoldco/promptui/promptui.go.html#doc">d➜</a> <a href="../../../src/github.com/manifoldco/promptui/promptui.go.html">promptui.go</a></label><span id='file-5-fold-content-items' class="fold-items">
		Package promptui is a library providing a simple interface to create command-line prompts for go.
		It can be easily integrated into spf13/cobra, urfave/cli or any cli go application.

		promptui has two main input modes:

		Prompt provides a single line for user input. It supports optional live validation,
		confirmation and masking the input.

		Select provides a list of options to choose from. It supports pagination, search,
		detailed view and custom templates.
</span>
	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/select.go.html">select.go</a></span>
	<span class="nodocs">      <a href="../../../src/github.com/manifoldco/promptui/styles.go.html">styles.go</a></span></div>
<div id="examples"><span class="title">Code Examples</span>

	<input type='checkbox' class="fold" id="example-0-fold-content"><label for="example-0-fold-content">Prompt</label><span id='example-0-fold-content-items' class="fold-items">
	  {
	  
	  	validate := func(input string) error {
	  		_, err := strconv.ParseFloat(input, 64)
	  		return err
	  	}
	  
	  	templates := &PromptTemplates{
	  		Prompt:  "{{ . }} ",
	  		Valid:   "{{ . | green }} ",
	  		Invalid: "{{ . | red }} ",
	  		Success: "{{ . | bold }} ",
	  	}
	  
	  	prompt := Prompt{
	  		Label:     "Spicy Level",
	  		Templates: templates,
	  		Validate:  validate,
	  	}
	  
	  	result, err := prompt.Run()
	  
	  	if err != nil {
	  		fmt.Printf("Prompt failed %v\n", err)
	  		return
	  	}
	  
	  	fmt.Printf("You answered %s\n", result)
	  }
</span>
	<input type='checkbox' class="fold" id="example-1-fold-content"><label for="example-1-fold-content">Select</label><span id='example-1-fold-content-items' class="fold-items">
		package main
		
		import (
			"fmt"
			"strings"
		)
		
		// Any type can be given to the select's item as long as the templates properly implement the dot notation
		// to display it.
		type pepper struct {
			Name     string
			HeatUnit int
			Peppers  int
		}
		
		// This examples shows a complex and customized select.
		func main() {
			// The select will show a series of peppers stored inside a slice of structs. To display the content of the struct,
			// the usual dot notation is used inside the templates to select the fields and color them.
			peppers := []pepper{
				{Name: "Bell Pepper", HeatUnit: 0, Peppers: 0},
				{Name: "Banana Pepper", HeatUnit: 100, Peppers: 1},
				{Name: "Poblano", HeatUnit: 1000, Peppers: 2},
				{Name: "Jalapeño", HeatUnit: 3500, Peppers: 3},
				{Name: "Aleppo", HeatUnit: 10000, Peppers: 4},
				{Name: "Tabasco", HeatUnit: 30000, Peppers: 5},
				{Name: "Malagueta", HeatUnit: 50000, Peppers: 6},
				{Name: "Habanero", HeatUnit: 100000, Peppers: 7},
				{Name: "Red Savina Habanero", HeatUnit: 350000, Peppers: 8},
				{Name: "Dragon’s Breath", HeatUnit: 855000, Peppers: 9},
			}
		
			// The Active and Selected templates set a small pepper icon next to the name colored and the heat unit for the
			// active template. The details template is show at the bottom of the select's list and displays the full info
			// for that pepper in a multi-line template.
			templates := &SelectTemplates{
				Label:    "{{ . }}?",
				Active:   "\U0001F336 {{ .Name | cyan }} ({{ .HeatUnit | red }})",
				Inactive: "  {{ .Name | cyan }} ({{ .HeatUnit | red }})",
				Selected: "\U0001F336 {{ .Name | red | cyan }}",
				Details: `
		--------- Pepper ----------
		{{ "Name:" | faint }}	{{ .Name }}
		{{ "Heat Unit:" | faint }}	{{ .HeatUnit }}
		{{ "Peppers:" | faint }}	{{ .Peppers }}`,
			}
		
			// A searcher function is implemented which enabled the search mode for the select. The function follows
			// the required searcher signature and finds any pepper whose name contains the searched string.
			searcher := func(input string, index int) bool {
				pepper := peppers[index]
				name := strings.Replace(strings.ToLower(pepper.Name), " ", "", -1)
				input = strings.Replace(strings.ToLower(input), " ", "", -1)
		
				return strings.Contains(name, input)
			}
		
			prompt := Select{
				Label:     "Spicy Level",
				Items:     peppers,
				Templates: templates,
				Size:      4,
				Searcher:  searcher,
			}
		
			i, _, err := prompt.Run()
		
			if err != nil {
				fmt.Printf("Prompt failed %v\n", err)
				return
			}
		
			// The selected pepper will be displayed with its name and index in a formatted message.
			fmt.Printf("You choose number %d: %s\n", i+1, peppers[i].Name)
		}

</span>
	<input type='checkbox' class="fold" id="example-2-fold-content"><label for="example-2-fold-content">SelectWithAdd</label><span id='example-2-fold-content-items' class="fold-items">
	  {
	  	items := []string{"Vim", "Emacs", "Sublime", "VSCode", "Atom"}
	  	index := -1
	  	var result string
	  	var err error
	  
	  	for index < 0 {
	  		prompt := SelectWithAdd{
	  			Label:    "What's your text editor",
	  			Items:    items,
	  			AddLabel: "Add your own",
	  		}
	  
	  		index, result, err = prompt.Run()
	  
	  		if index == -1 {
	  			items = append(items, result)
	  		}
	  	}
	  
	  	if err != nil {
	  		fmt.Printf("Prompt failed %v\n", err)
	  		return
	  	}
	  
	  	fmt.Printf("You choose %s\n", result)
	  }
</span>
	<input type='checkbox' class="fold" id="example-3-fold-content"><label for="example-3-fold-content">_prompt</label><span id='example-3-fold-content-items' class="fold-items">
	  {
	  	validate := func(input string) error {
	  		_, err := strconv.ParseFloat(input, 64)
	  		if err != nil {
	  			return errors.New("Invalid number")
	  		}
	  		return nil
	  	}
	  
	  	prompt := Prompt{
	  		Label:    "Number",
	  		Validate: validate,
	  	}
	  
	  	result, err := prompt.Run()
	  
	  	if err != nil {
	  		fmt.Printf("Prompt failed %v\n", err)
	  		return
	  	}
	  
	  	fmt.Printf("You choose %q\n", result)
	  }
</span>
	<input type='checkbox' class="fold" id="example-4-fold-content"><label for="example-4-fold-content">_select</label><span id='example-4-fold-content-items' class="fold-items">
	  {
	  	prompt := Select{
	  		Label: "Select Day",
	  		Items: []string{"Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
	  			"Saturday", "Sunday"},
	  	}
	  
	  	_, result, err := prompt.Run()
	  
	  	if err != nil {
	  		fmt.Printf("Prompt failed %v\n", err)
	  		return
	  	}
	  
	  	fmt.Printf("You choose %q\n", result)
	  }</span>
</div>
<div id="exported-types"><span class="title">Package-Level Type Names<span class="title-stat"><i> (total 11, in which 10 are exported)</i></span></span>

<div id="exported-types-buttons" class="js-on">	/* sort exporteds by: <label id="sort-types-by-alphabet" class="button">alphabet</label> | <label id="sort-types-by-popularity" class="button">popularity</label> */</div><div class="anchor type-res" id="name-Cursor" data-popularity="1010">	<input type='checkbox' class="fold" id="Cursor-fold-content"><label for="Cursor-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-44">Cursor</a> <i>(struct)</i></label><span id='Cursor-fold-content-docs' class="fold-docs">
		Cursor tracks the state associated with the movable cursor
		The strategy is to keep the prompt, input pristine except for requested
		modifications. The insertion of the cursor happens during a `format` call
		and we read in new input via an `Update` call

		<input type='checkbox' class="fold" id="Cursor-fold-fields"><label for="Cursor-fold-fields">Fields (<i>total 4, in which 2 are exported</i>)</label><span id='Cursor-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Cursor-fold-field-Cursor"><label for="Cursor-fold-field-Cursor"><a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-46">Cursor</a> <i><a href="#name-Pointer">Pointer</a></i></label><span id='Cursor-fold-field-Cursor-docs' class="fold-docs">
				shows where the user inserts/updates text
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-field-Position"><label for="Cursor-fold-field-Position"><a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-51">Position</a> <i><a href="../../builtin.html#name-int">int</a></i></label><span id='Cursor-fold-field-Position-docs' class="fold-docs">
				Put the cursor before this slice
</span></span>
			<input type='checkbox' class="showhide" id="Cursor-showhide-fields"><i><label for="Cursor-showhide-fields" class="show-inline">/* 2 unexporteds ... */</label><label for="Cursor-showhide-fields" class="hide-inline">/* 2 unexporteds: */</label></i><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-52">erase</a> <i><a href="../../builtin.html#name-bool">bool</a></i></span></i></span><span class="hidden"><i>
			<input type='checkbox' class="fold" id="Cursor-fold-field-input"><label for="Cursor-fold-field-input"><a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-49">input</a> <i>[]<a href="../../builtin.html#name-rune">rune</a></i></label><span id='Cursor-fold-field-input-docs' class="fold-docs">
				what the user entered, and what we will echo back to them, after
				insertion of the cursor and prefixing with the prompt
</span></i></span></span>
		<input type='checkbox' class="fold" id="Cursor-fold-methods"><label for="Cursor-fold-methods">Methods (<i>total 14, in which 13 are exported</i>)</label><span id='Cursor-fold-methods-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Backspace"><label for="Cursor-fold-method-Backspace">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-183">Backspace</a>()</label><span id='Cursor-fold-method-Backspace-docs' class="fold-docs">
				Backspace removes the rune that precedes the cursor

				It handles being at the beginning or end of the row, and moves the cursor to
				the appropriate position.
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-End"><label for="Cursor-fold-method-End">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-78">End</a>()</label><span id='Cursor-fold-method-End-docs' class="fold-docs">
				End is a convenience for c.Place(len(c.input)) so you don't have to know how I
				indexed.
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Format"><label for="Cursor-fold-method-Format">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-119">Format</a>() <a href="../../builtin.html#name-string">string</a></label><span id='Cursor-fold-method-Format-docs' class="fold-docs">
				Format renders the input with the Cursor appropriately positioned.
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-FormatMask"><label for="Cursor-fold-method-FormatMask">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-126">FormatMask</a>(mask <a href="../../builtin.html#name-rune">rune</a>) <a href="../../builtin.html#name-string">string</a></label><span id='Cursor-fold-method-FormatMask-docs' class="fold-docs">
				FormatMask replaces all input runes with the mask rune.
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Get"><label for="Cursor-fold-method-Get">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-150">Get</a>() <a href="../../builtin.html#name-string">string</a></label><span id='Cursor-fold-method-Get-docs' class="fold-docs">
				Get returns a copy of the input
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-GetMask"><label for="Cursor-fold-method-GetMask">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-155">GetMask</a>(mask <a href="../../builtin.html#name-rune">rune</a>) <a href="../../builtin.html#name-string">string</a></label><span id='Cursor-fold-method-GetMask-docs' class="fold-docs">
				GetMask returns a mask string with length equal to the input
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Listen"><label for="Cursor-fold-method-Listen">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-200">Listen</a>(line []<a href="../../builtin.html#name-rune">rune</a>, pos <a href="../../builtin.html#name-int">int</a>, key <a href="../../builtin.html#name-rune">rune</a>) ([]<a href="../../builtin.html#name-rune">rune</a>, <a href="../../builtin.html#name-int">int</a>, <a href="../../builtin.html#name-bool">bool</a>)</label><span id='Cursor-fold-method-Listen-docs' class="fold-docs">
				Listen is a readline Listener that updates internal cursor state appropriately.
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Move"><label for="Cursor-fold-method-Move">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-173">Move</a>(shift <a href="../../builtin.html#name-int">int</a>)</label><span id='Cursor-fold-method-Move-docs' class="fold-docs">
				Move moves the cursor over in relative terms, by shift indices.
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Place"><label for="Cursor-fold-method-Place">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-167">Place</a>(position <a href="../../builtin.html#name-int">int</a>)</label><span id='Cursor-fold-method-Place-docs' class="fold-docs">
				Place moves the cursor to the absolute array index specified by position
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Replace"><label for="Cursor-fold-method-Replace">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-161">Replace</a>(input <a href="../../builtin.html#name-string">string</a>)</label><span id='Cursor-fold-method-Replace-docs' class="fold-docs">
				Replace replaces the previous input with whatever is specified, and moves the
				cursor to the end position
</span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Start"><label for="Cursor-fold-method-Start">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-84">Start</a>()</label><span id='Cursor-fold-method-Start-docs' class="fold-docs">
				Start is convenience for c.Place(0) so you don't have to know how I
				indexed.
</span></span><span>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-70">String</a>() <a href="../../builtin.html#name-string">string</a></span></span><span>
			<input type='checkbox' class="fold" id="Cursor-fold-method-Update"><label for="Cursor-fold-method-Update">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-140">Update</a>(newinput <a href="../../builtin.html#name-string">string</a>)</label><span id='Cursor-fold-method-Update-docs' class="fold-docs">
				Update inserts newinput into the input []rune in the appropriate place.
				The cursor is moved to the end of the inputed sequence.
</span></span>
			<input type='checkbox' class="showhide" id="Cursor-showhide-methods"><i><label for="Cursor-showhide-methods" class="show-inline">/* one unexported ... */</label><label for="Cursor-showhide-methods" class="hide-inline">/* one unexported: */</label></i><span class="hidden"><i>
			<input type='checkbox' class="fold" id="Cursor-fold-method-correctPosition"><label for="Cursor-fold-method-correctPosition">(*T) <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-89">correctPosition</a>()</label><span id='Cursor-fold-method-correctPosition-docs' class="fold-docs">
				ensures we are in bounds.
</span></i></span></span>
		<input type='checkbox' class="fold" id="Cursor-fold-impls"><label for="Cursor-fold-impls">Implements (<i>at least 4, in which 1 are exported</i>)</label><span id='Cursor-fold-impls-items' class="fold-items"><span>
			*T : fmt.<a href="../../fmt.html#name-Stringer">Stringer</a></span>
			<input type='checkbox' class="showhide" id="Cursor-showhide-impls"><i><label for="Cursor-showhide-impls" class="show-inline">/* 3+ unexporteds ... */</label><label for="Cursor-showhide-impls" class="hide-inline">/* 3+ unexporteds: */</label></i><span class="hidden"><i>
			*T : context.<a href="../../context.html#name-stringer">stringer</a></i></span><span class="hidden"><i>
			*T : os/signal.<a href="../../os/signal.html#name-stringer">stringer</a></i></span><span class="hidden"><i>
			*T : runtime.<a href="../../runtime.html#name-stringer">stringer</a></i></span></span>
		<input type='checkbox' class="fold" id="Cursor-fold-results"><label for="Cursor-fold-results">As Outputs Of (<i>at least one exported</i>)</label><span id='Cursor-fold-results-items' class="fold-items"><span>
			func <a href="#name-NewCursor">NewCursor</a>(startinginput <a href="../../builtin.html#name-string">string</a>, pointer <a href="#name-Pointer">Pointer</a>, eraseDefault <a href="../../builtin.html#name-bool">bool</a>) <b>Cursor</b></span></span>
		<input type='checkbox' class="fold" id="Cursor-fold-params"><label for="Cursor-fold-params">As Inputs Of (<i>at least one unexported</i>)</label><span id='Cursor-fold-params-items' class="fold-items">
			<input type='checkbox' class="showhide" id="Cursor-showhide-outputofs"><i><label for="Cursor-showhide-outputofs" class="show-inline">/* at least one unexported ... */</label><label for="Cursor-showhide-outputofs" class="hide-inline">/* at least one unexported: */</label></i><span class="hidden"><i>
			func <a href="#name-format">format</a>(a []<a href="../../builtin.html#name-rune">rune</a>, c *<b>Cursor</b>) <a href="../../builtin.html#name-string">string</a></i></span></span>

</span></div><div class="anchor type-res" id="name-Key" data-popularity="0">	<input type='checkbox' class="fold" id="Key-fold-content"><label for="Key-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-105">Key</a> <i>(struct)</i></label><span id='Key-fold-content-docs' class="fold-docs">
		Key defines a keyboard code and a display representation for the help menu.

		<input type='checkbox' class="fold" id="Key-fold-fields"><label for="Key-fold-fields">Fields (<i>total 2, both are exported</i>)</label><span id='Key-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Key-fold-field-Code"><label for="Key-fold-field-Code"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-108">Code</a> <i><a href="../../builtin.html#name-rune">rune</a></i></label><span id='Key-fold-field-Code-docs' class="fold-docs">
				Code is a rune that will be used to compare against typed keys with readline.
				Check https://github.com/chzyer/readline for a list of codes
</span></span><span>
			<input type='checkbox' class="fold" id="Key-fold-field-Display"><label for="Key-fold-field-Display"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-112">Display</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='Key-fold-field-Display-docs' class="fold-docs">
				Display is the string that will be displayed inside the help menu to help inform the user
				of which key to use on his keyboard for various functions.
</span></span></span>

</span></div><div class="anchor type-res" id="name-Pointer" data-popularity="50">	<input type='checkbox' class="fold" id="Pointer-fold-content"><label for="Pointer-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-10">Pointer</a> <i>(func)</i></label><span id='Pointer-fold-content-docs' class="fold-docs">
		Pointer is A specific type that translates a given set of runes into a given
		set of runes pointed at by the cursor.

		<input type='checkbox' class="fold" id="Pointer-fold-params"><label for="Pointer-fold-params">As Inputs Of (<i>at least one exported</i>)</label><span id='Pointer-fold-params-items' class="fold-items"><span>
			func <a href="#name-NewCursor">NewCursor</a>(startinginput <a href="../../builtin.html#name-string">string</a>, pointer <b>Pointer</b>, eraseDefault <a href="../../builtin.html#name-bool">bool</a>) <a href="#name-Cursor">Cursor</a></span></span>
		<input type='checkbox' class="fold" id="Pointer-fold-values"><label for="Pointer-fold-values">As Types Of (<i>total 3, all are exported</i>)</label><span id='Pointer-fold-values-items' class="fold-items"><span>
			  var <a href="#name-BlockCursor">BlockCursor</a></span><span>
			  var <a href="#name-DefaultCursor">DefaultCursor</a></span><span>
			  var <a href="#name-PipeCursor">PipeCursor</a></span></span>

</span></div><div class="anchor type-res" id="name-Prompt" data-popularity="100">	<input type='checkbox' class="fold" id="Prompt-fold-content"><label for="Prompt-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-14">Prompt</a> <i>(struct)</i></label><span id='Prompt-fold-content-docs' class="fold-docs">
		Prompt represents a single line text field input with options for validation and input masks.

		<input type='checkbox' class="fold" id="Prompt-fold-fields"><label for="Prompt-fold-fields">Fields (<i>total 12, all are exported</i>)</label><span id='Prompt-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-AllowEdit"><label for="Prompt-fold-field-AllowEdit"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-27">AllowEdit</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Prompt-fold-field-AllowEdit-docs' class="fold-docs">
				AllowEdit lets the user edit the default value. If false, any key press
				other than &lt;Enter&gt; automatically clears the default value.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-Default"><label for="Prompt-fold-field-Default"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-23">Default</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='Prompt-fold-field-Default-docs' class="fold-docs">
				Default is the initial value for the prompt. This value will be displayed next to the prompt's label
				and the user will be able to view or change it depending on the options.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-HideEntered"><label for="Prompt-fold-field-HideEntered"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-37">HideEntered</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Prompt-fold-field-HideEntered-docs' class="fold-docs">
				HideEntered sets whether to hide the text after the user has pressed enter.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-IsConfirm"><label for="Prompt-fold-field-IsConfirm"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-45">IsConfirm</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Prompt-fold-field-IsConfirm-docs' class="fold-docs">
				IsConfirm makes the prompt ask for a yes or no ([Y/N]) question rather than request an input. When set,
				most properties related to input will be ignored.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-IsVimMode"><label for="Prompt-fold-field-IsVimMode"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-48">IsVimMode</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Prompt-fold-field-IsVimMode-docs' class="fold-docs">
				IsVimMode enables vi-like movements (hjkl) and editing.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-Label"><label for="Prompt-fold-field-Label"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-19">Label</a> <i>interface{}</i></label><span id='Prompt-fold-field-Label-docs' class="fold-docs">
				Label is the value displayed on the command line prompt.

				The value for Label can be a simple string or a struct that will need to be accessed by dot notation
				inside the templates. For example, `{{ .Name }}` will display the name property of a struct.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-Mask"><label for="Prompt-fold-field-Mask"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-34">Mask</a> <i><a href="../../builtin.html#name-rune">rune</a></i></label><span id='Prompt-fold-field-Mask-docs' class="fold-docs">
				Mask is an optional rune that sets which character to display instead of the entered characters. This
				allows hiding private information like passwords.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-Pointer"><label for="Prompt-fold-field-Pointer"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-51">Pointer</a> <i><a href="#name-Pointer">Pointer</a></i></label><span id='Prompt-fold-field-Pointer-docs' class="fold-docs">
				the Pointer defines how to render the cursor.
</span></span><span>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-53">Stdin</a> <i><a href="../../io.html">io</a>.<a href="../../io.html#name-ReadCloser">ReadCloser</a></i></span></span><span>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-54">Stdout</a> <i><a href="../../io.html">io</a>.<a href="../../io.html#name-WriteCloser">WriteCloser</a></i></span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-Templates"><label for="Prompt-fold-field-Templates"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-41">Templates</a> <i>*<a href="#name-PromptTemplates">PromptTemplates</a></i></label><span id='Prompt-fold-field-Templates-docs' class="fold-docs">
				Templates can be used to customize the prompt output. If nil is passed, the
				default templates are used. See the PromptTemplates docs for more info.
</span></span><span>
			<input type='checkbox' class="fold" id="Prompt-fold-field-Validate"><label for="Prompt-fold-field-Validate"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-30">Validate</a> <i><a href="#name-ValidateFunc">ValidateFunc</a></i></label><span id='Prompt-fold-field-Validate-docs' class="fold-docs">
				Validate is an optional function that fill be used against the entered value in the prompt to validate it.
</span></span></span>
		<input type='checkbox' class="fold" id="Prompt-fold-methods"><label for="Prompt-fold-methods">Methods (<i>total 2, in which 1 are exported</i>)</label><span id='Prompt-fold-methods-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Prompt-fold-method-Run"><label for="Prompt-fold-method-Run">(*T) <a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-115">Run</a>() (<a href="../../builtin.html#name-string">string</a>, <a href="../../builtin.html#name-error">error</a>)</label><span id='Prompt-fold-method-Run-docs' class="fold-docs">
				Run executes the prompt. Its displays the label and default value if any, asking the user to enter a value.
				Run will keep the prompt alive until it has been canceled from the command prompt or it has received a valid
				value. It will return the value and an error if any occurred during the prompt's execution.
</span></span>
			<input type='checkbox' class="showhide" id="Prompt-showhide-methods"><i><label for="Prompt-showhide-methods" class="show-inline">/* one unexported ... */</label><label for="Prompt-showhide-methods" class="hide-inline">/* one unexported: */</label></i><span class="hidden"><i>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-254">prepareTemplates</a>() <a href="../../builtin.html#name-error">error</a></span></i></span></span>

</span></div><div class="anchor type-res" id="name-PromptTemplates" data-popularity="0">	<input type='checkbox' class="fold" id="PromptTemplates-fold-content"><label for="PromptTemplates-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-76">PromptTemplates</a> <i>(struct)</i></label><span id='PromptTemplates-fold-content-docs' class="fold-docs">
		PromptTemplates allow a prompt to be customized following stdlib
		text/template syntax. Custom state, colors and background color are available for use inside
		the templates and are documented inside the Variable section of the docs.

		Examples

		text/templates use a special notation to display programmable content. Using the double bracket notation,
		the value can be printed with specific helper functions. For example

		This displays the value given to the template as pure, unstylized text.
			'{{ . }}'

		This displays the value colored in cyan
			'{{ . | cyan }}'

		This displays the value colored in red with a cyan background-color
			'{{ . | red | cyan }}'

		See the doc of text/template for more info: https://golang.org/pkg/text/template/

		<input type='checkbox' class="fold" id="PromptTemplates-fold-fields"><label for="PromptTemplates-fold-fields">Fields (<i>total 12, in which 7 are exported</i>)</label><span id='PromptTemplates-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-Confirm"><label for="PromptTemplates-fold-field-Confirm"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-81">Confirm</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='PromptTemplates-fold-field-Confirm-docs' class="fold-docs">
				Prompt is a text/template for the prompt label when IsConfirm is set as true.
</span></span><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-FuncMap"><label for="PromptTemplates-fold-field-FuncMap"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-103">FuncMap</a> <i><a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-FuncMap">FuncMap</a></i></label><span id='PromptTemplates-fold-field-FuncMap-docs' class="fold-docs">
				FuncMap is a map of helper functions that can be used inside of templates according to the text/template
				documentation.

				By default, FuncMap contains the color functions used to color the text in templates. If FuncMap
				is overridden, the colors functions must be added in the override from promptui.FuncMap to work.
</span></span><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-Invalid"><label for="PromptTemplates-fold-field-Invalid"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-87">Invalid</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='PromptTemplates-fold-field-Invalid-docs' class="fold-docs">
				Invalid is a text/template for the prompt label when the value entered is invalid.
</span></span><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-Prompt"><label for="PromptTemplates-fold-field-Prompt"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-78">Prompt</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='PromptTemplates-fold-field-Prompt-docs' class="fold-docs">
				Prompt is a text/template for the prompt label displayed on the left side of the prompt.
</span></span><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-Success"><label for="PromptTemplates-fold-field-Success"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-92">Success</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='PromptTemplates-fold-field-Success-docs' class="fold-docs">
				Success is a text/template for the prompt label when the user has pressed entered and the value has been
				deemed valid by the validation function. The label will keep using this template even when the prompt ends
				inside the console.
</span></span><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-Valid"><label for="PromptTemplates-fold-field-Valid"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-84">Valid</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='PromptTemplates-fold-field-Valid-docs' class="fold-docs">
				Valid is a text/template for the prompt label when the value entered is valid.
</span></span><span>
			<input type='checkbox' class="fold" id="PromptTemplates-fold-field-ValidationError"><label for="PromptTemplates-fold-field-ValidationError"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-96">ValidationError</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='PromptTemplates-fold-field-ValidationError-docs' class="fold-docs">
				Prompt is a text/template for the prompt label when the value is invalid due to an error triggered by
				the prompt's validation function.
</span></span>
			<input type='checkbox' class="showhide" id="PromptTemplates-showhide-fields"><i><label for="PromptTemplates-showhide-fields" class="show-inline">/* 5 unexporteds ... */</label><label for="PromptTemplates-showhide-fields" class="hide-inline">/* 5 unexporteds: */</label></i><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-107">invalid</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-105">prompt</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-109">success</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-106">valid</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/prompt.go.html#line-108">validation</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span></span>

</span></div><div class="anchor type-res" id="name-Select" data-popularity="400">	<input type='checkbox' class="fold" id="Select-fold-content"><label for="Select-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-23">Select</a> <i>(struct)</i></label><span id='Select-fold-content-docs' class="fold-docs">
		Select represents a list of items used to enable selections, they can be used as search engines, menus
		or as a list of items in a cli based prompt.

		<input type='checkbox' class="fold" id="Select-fold-fields"><label for="Select-fold-fields">Fields (<i>total 15, in which 14 are exported</i>)</label><span id='Select-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Select-fold-field-CursorPos"><label for="Select-fold-field-CursorPos"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-45">CursorPos</a> <i><a href="../../builtin.html#name-int">int</a></i></label><span id='Select-fold-field-CursorPos-docs' class="fold-docs">
				CursorPos is the initial position of the cursor.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-HideHelp"><label for="Select-fold-field-HideHelp"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-52">HideHelp</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Select-fold-field-HideHelp-docs' class="fold-docs">
				HideHelp sets whether to hide help information.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-HideSelected"><label for="Select-fold-field-HideSelected"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-55">HideSelected</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Select-fold-field-HideSelected-docs' class="fold-docs">
				HideSelected sets whether to hide the text displayed after an item is successfully selected.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-IsVimMode"><label for="Select-fold-field-IsVimMode"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-49">IsVimMode</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Select-fold-field-IsVimMode-docs' class="fold-docs">
				IsVimMode sets whether to use vim mode when using readline in the command prompt. Look at
				https://godoc.org/github.com/chzyer/readline#Config for more information on readline.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Items"><label for="Select-fold-field-Items"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-39">Items</a> <i>interface{}</i></label><span id='Select-fold-field-Items-docs' class="fold-docs">
				Items are the items to display inside the list. It expect a slice of any kind of values, including strings.

				If using a slice of strings, promptui will use those strings directly into its base templates or the
				provided templates. If using any other type in the slice, it will attempt to transform it into a string
				before giving it to its templates. Custom templates will override this behavior if using the dot notation
				inside the templates.

				For example, `{{ .Name }}` will display the name property of a struct.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Keys"><label for="Select-fold-field-Keys"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-63">Keys</a> <i>*<a href="#name-SelectKeys">SelectKeys</a></i></label><span id='Select-fold-field-Keys-docs' class="fold-docs">
				Keys is the set of keys used in select mode to control the command line interface. See the SelectKeys docs for
				more info.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Label"><label for="Select-fold-field-Label"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-29">Label</a> <i>interface{}</i></label><span id='Select-fold-field-Label-docs' class="fold-docs">
				Label is the text displayed on top of the list to direct input. The IconInitial value "?" will be
				appended automatically to the label so it does not need to be added.

				The value for Label can be a simple string or a struct that will need to be accessed by dot notation
				inside the templates. For example, `{{ .Name }}` will display the name property of a struct.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Pointer"><label for="Select-fold-field-Pointer"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-79">Pointer</a> <i><a href="#name-Pointer">Pointer</a></i></label><span id='Select-fold-field-Pointer-docs' class="fold-docs">
				A function that determines how to render the cursor
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Searcher"><label for="Select-fold-field-Searcher"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-70">Searcher</a> <i><a href="promptui/list.html">list</a>.<a href="promptui/list.html#name-Searcher">Searcher</a></i></label><span id='Select-fold-field-Searcher-docs' class="fold-docs">
				Searcher is a function that can be implemented to refine the base searching algorithm in selects.

				Search is a function that will receive the searched term and the item's index and should return a boolean
				for whether or not the terms are alike. It is unimplemented by default and search will not work unless
				it is implemented.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Size"><label for="Select-fold-field-Size"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-42">Size</a> <i><a href="../../builtin.html#name-int">int</a></i></label><span id='Select-fold-field-Size-docs' class="fold-docs">
				Size is the number of items that should appear on the select before scrolling is necessary. Defaults to 5.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-StartInSearchMode"><label for="Select-fold-field-StartInSearchMode"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-74">StartInSearchMode</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='Select-fold-field-StartInSearchMode-docs' class="fold-docs">
				StartInSearchMode sets whether or not the select mode should start in search mode or selection mode.
				For search mode to work, the Search property must be implemented.
</span></span><span>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-81">Stdin</a> <i><a href="../../io.html">io</a>.<a href="../../io.html#name-ReadCloser">ReadCloser</a></i></span></span><span>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-82">Stdout</a> <i><a href="../../io.html">io</a>.<a href="../../io.html#name-WriteCloser">WriteCloser</a></i></span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-field-Templates"><label for="Select-fold-field-Templates"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-59">Templates</a> <i>*<a href="#name-SelectTemplates">SelectTemplates</a></i></label><span id='Select-fold-field-Templates-docs' class="fold-docs">
				Templates can be used to customize the select output. If nil is passed, the
				default templates are used. See the SelectTemplates docs for more info.
</span></span>
			<input type='checkbox' class="showhide" id="Select-showhide-fields"><i><label for="Select-showhide-fields" class="show-inline">/* one unexported ... */</label><label for="Select-showhide-fields" class="hide-inline">/* one unexported: */</label></i><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-76">list</a> <i>*<a href="promptui/list.html">list</a>.<a href="promptui/list.html#name-List">List</a></i></span></i></span></span>
		<input type='checkbox' class="fold" id="Select-fold-methods"><label for="Select-fold-methods">Methods (<i>total 8, in which 3 are exported</i>)</label><span id='Select-fold-methods-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="Select-fold-method-Run"><label for="Select-fold-method-Run">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-190">Run</a>() (<a href="../../builtin.html#name-int">int</a>, <a href="../../builtin.html#name-string">string</a>, <a href="../../builtin.html#name-error">error</a>)</label><span id='Select-fold-method-Run-docs' class="fold-docs">
				Run executes the select list. It displays the label and the list of items, asking the user to chose any
				value within to list. Run will keep the prompt alive until it has been canceled from
				the command prompt or it has received a valid value. It will return the value and an error if any
				occurred during the select's execution.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-method-RunCursorAt"><label for="Select-fold-method-RunCursorAt">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-200">RunCursorAt</a>(cursorPos, scroll <a href="../../builtin.html#name-int">int</a>) (<a href="../../builtin.html#name-int">int</a>, <a href="../../builtin.html#name-string">string</a>, <a href="../../builtin.html#name-error">error</a>)</label><span id='Select-fold-method-RunCursorAt-docs' class="fold-docs">
				RunCursorAt executes the select list, initializing the cursor to the given
				position. Invalid cursor positions will be clamped to valid values.  It
				displays the label and the list of items, asking the user to chose any value
				within to list. Run will keep the prompt alive until it has been canceled
				from the command prompt or it has received a valid value. It will return
				the value and an error if any occurred during the select's execution.
</span></span><span>
			<input type='checkbox' class="fold" id="Select-fold-method-ScrollPosition"><label for="Select-fold-method-ScrollPosition">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-406">ScrollPosition</a>() <a href="../../builtin.html#name-int">int</a></label><span id='Select-fold-method-ScrollPosition-docs' class="fold-docs">
				ScrollPosition returns the current scroll position.
</span></span>
			<input type='checkbox' class="showhide" id="Select-showhide-methods"><i><label for="Select-showhide-methods" class="show-inline">/* 5 unexporteds ... */</label><label for="Select-showhide-methods" class="hide-inline">/* 5 unexporteds: */</label></i><span class="hidden"><i>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-222">innerRun</a>(cursorPos, scroll <a href="../../builtin.html#name-int">int</a>, top <a href="../../builtin.html#name-rune">rune</a>) (<a href="../../builtin.html#name-int">int</a>, <a href="../../builtin.html#name-string">string</a>, <a href="../../builtin.html#name-error">error</a>)</span></i></span><span class="hidden"><i>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-410">prepareTemplates</a>() <a href="../../builtin.html#name-error">error</a></span></i></span><span class="hidden"><i>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-584">renderDetails</a>(item interface{}) [][]<a href="../../builtin.html#name-byte">byte</a></span></i></span><span class="hidden"><i>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-604">renderHelp</a>(b <a href="../../builtin.html#name-bool">bool</a>) []<a href="../../builtin.html#name-byte">byte</a></span></i></span><span class="hidden"><i>
			<span class="nodocs">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-571">setKeys</a>()</span></i></span></span>

</span></div><div class="anchor type-res" id="name-SelectKeys" data-popularity="0">	<input type='checkbox' class="fold" id="SelectKeys-fold-content"><label for="SelectKeys-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-87">SelectKeys</a> <i>(struct)</i></label><span id='SelectKeys-fold-content-docs' class="fold-docs">
		SelectKeys defines the available keys used by select mode to enable the user to move around the list
		and trigger search mode. See the Key struct docs for more information on keys.

		<input type='checkbox' class="fold" id="SelectKeys-fold-fields"><label for="SelectKeys-fold-fields">Fields (<i>total 5, all are exported</i>)</label><span id='SelectKeys-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="SelectKeys-fold-field-Next"><label for="SelectKeys-fold-field-Next"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-89">Next</a> <i><a href="#name-Key">Key</a></i></label><span id='SelectKeys-fold-field-Next-docs' class="fold-docs">
				Next is the key used to move to the next element inside the list. Defaults to down arrow key.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectKeys-fold-field-PageDown"><label for="SelectKeys-fold-field-PageDown"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-98">PageDown</a> <i><a href="#name-Key">Key</a></i></label><span id='SelectKeys-fold-field-PageDown-docs' class="fold-docs">
				PageUp is the key used to jump forward to the last element inside the list. Defaults to right arrow key.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectKeys-fold-field-PageUp"><label for="SelectKeys-fold-field-PageUp"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-95">PageUp</a> <i><a href="#name-Key">Key</a></i></label><span id='SelectKeys-fold-field-PageUp-docs' class="fold-docs">
				PageUp is the key used to jump back to the first element inside the list. Defaults to left arrow key.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectKeys-fold-field-Prev"><label for="SelectKeys-fold-field-Prev"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-92">Prev</a> <i><a href="#name-Key">Key</a></i></label><span id='SelectKeys-fold-field-Prev-docs' class="fold-docs">
				Prev is the key used to move to the previous element inside the list. Defaults to up arrow key.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectKeys-fold-field-Search"><label for="SelectKeys-fold-field-Search"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-101">Search</a> <i><a href="#name-Key">Key</a></i></label><span id='SelectKeys-fold-field-Search-docs' class="fold-docs">
				Search is the key used to trigger the search mode for the list. Default to the "/" key.
</span></span></span>

</span></div><div class="anchor type-res" id="name-SelectTemplates" data-popularity="0">	<input type='checkbox' class="fold" id="SelectTemplates-fold-content"><label for="SelectTemplates-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-140">SelectTemplates</a> <i>(struct)</i></label><span id='SelectTemplates-fold-content-docs' class="fold-docs">
		SelectTemplates allow a select list to be customized following stdlib
		text/template syntax. Custom state, colors and background color are available for use inside
		the templates and are documented inside the Variable section of the docs.

		Examples

		text/templates use a special notation to display programmable content. Using the double bracket notation,
		the value can be printed with specific helper functions. For example

		This displays the value given to the template as pure, unstylized text. Structs are transformed to string
		with this notation.
			'{{ . }}'

		This displays the name property of the value colored in cyan
			'{{ .Name | cyan }}'

		This displays the label property of value colored in red with a cyan background-color
			'{{ .Label | red | cyan }}'

		See the doc of text/template for more info: https://golang.org/pkg/text/template/

		Notes

		Setting any of these templates will remove the icons from the default templates. They must
		be added back in each of their specific templates. The styles.go constants contains the default icons.

		<input type='checkbox' class="fold" id="SelectTemplates-fold-fields"><label for="SelectTemplates-fold-fields">Fields (<i>total 13, in which 7 are exported</i>)</label><span id='SelectTemplates-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-Active"><label for="SelectTemplates-fold-field-Active"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-146">Active</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectTemplates-fold-field-Active-docs' class="fold-docs">
				Active is a text/template for when an item is currently active within the list.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-Details"><label for="SelectTemplates-fold-field-Details"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-162">Details</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectTemplates-fold-field-Details-docs' class="fold-docs">
				Details is a text/template for when an item current active to show
				additional information. It can have multiple lines.

				Detail will always be displayed for the active element and thus can be used to display additional
				information on the element beyond its label.

				promptui will not trim spaces and tabs will be displayed if the template is indented.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-FuncMap"><label for="SelectTemplates-fold-field-FuncMap"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-173">FuncMap</a> <i><a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-FuncMap">FuncMap</a></i></label><span id='SelectTemplates-fold-field-FuncMap-docs' class="fold-docs">
				FuncMap is a map of helper functions that can be used inside of templates according to the text/template
				documentation.

				By default, FuncMap contains the color functions used to color the text in templates. If FuncMap
				is overridden, the colors functions must be added in the override from promptui.FuncMap to work.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-Help"><label for="SelectTemplates-fold-field-Help"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-166">Help</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectTemplates-fold-field-Help-docs' class="fold-docs">
				Help is a text/template for displaying instructions at the top. By default
				it shows keys for movement and search.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-Inactive"><label for="SelectTemplates-fold-field-Inactive"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-150">Inactive</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectTemplates-fold-field-Inactive-docs' class="fold-docs">
				Inactive is a text/template for when an item is not currently active inside the list. This
				template is used for all items unless they are active or selected.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-Label"><label for="SelectTemplates-fold-field-Label"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-143">Label</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectTemplates-fold-field-Label-docs' class="fold-docs">
				Label is a text/template for the main command line label. Defaults to printing the label as it with
				the IconInitial.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectTemplates-fold-field-Selected"><label for="SelectTemplates-fold-field-Selected"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-153">Selected</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectTemplates-fold-field-Selected-docs' class="fold-docs">
				Selected is a text/template for when an item was successfully selected.
</span></span>
			<input type='checkbox' class="showhide" id="SelectTemplates-showhide-fields"><i><label for="SelectTemplates-showhide-fields" class="show-inline">/* 6 unexporteds ... */</label><label for="SelectTemplates-showhide-fields" class="hide-inline">/* 6 unexporteds: */</label></i><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-176">active</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-179">details</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-180">help</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-177">inactive</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-175">label</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span><span class="hidden"><i>
			<span class="nodocs"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-178">selected</a> <i>*<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a></i></span></i></span></span>

</span></div><div class="anchor type-res" id="name-SelectWithAdd" data-popularity="50">	<input type='checkbox' class="fold" id="SelectWithAdd-fold-content"><label for="SelectWithAdd-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-492">SelectWithAdd</a> <i>(struct)</i></label><span id='SelectWithAdd-fold-content-docs' class="fold-docs">
		SelectWithAdd represents a list for selecting a single item inside a list of items with the possibility to
		add new items to the list.

		<input type='checkbox' class="fold" id="SelectWithAdd-fold-fields"><label for="SelectWithAdd-fold-fields">Fields (<i>total 7, all are exported</i>)</label><span id='SelectWithAdd-fold-fields-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-AddLabel"><label for="SelectWithAdd-fold-field-AddLabel"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-503">AddLabel</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectWithAdd-fold-field-AddLabel-docs' class="fold-docs">
				AddLabel is the label used for the first item of the list that enables adding a new item.
				Selecting this item in the list displays the add item prompt using promptui/prompt.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-HideHelp"><label for="SelectWithAdd-fold-field-HideHelp"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-517">HideHelp</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='SelectWithAdd-fold-field-HideHelp-docs' class="fold-docs">
				HideHelp sets whether to hide help information.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-IsVimMode"><label for="SelectWithAdd-fold-field-IsVimMode"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-511">IsVimMode</a> <i><a href="../../builtin.html#name-bool">bool</a></i></label><span id='SelectWithAdd-fold-field-IsVimMode-docs' class="fold-docs">
				IsVimMode sets whether to use vim mode when using readline in the command prompt. Look at
				https://godoc.org/github.com/chzyer/readline#Config for more information on readline.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-Items"><label for="SelectWithAdd-fold-field-Items"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-499">Items</a> <i>[]<a href="../../builtin.html#name-string">string</a></i></label><span id='SelectWithAdd-fold-field-Items-docs' class="fold-docs">
				Items are the items to display inside the list. Each item will be listed individually with the
				AddLabel as the first item of the list.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-Label"><label for="SelectWithAdd-fold-field-Label"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-495">Label</a> <i><a href="../../builtin.html#name-string">string</a></i></label><span id='SelectWithAdd-fold-field-Label-docs' class="fold-docs">
				Label is the text displayed on top of the list to direct input. The IconInitial value "?" will be
				appended automatically to the label so it does not need to be added.
</span></span><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-Pointer"><label for="SelectWithAdd-fold-field-Pointer"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-514">Pointer</a> <i><a href="#name-Pointer">Pointer</a></i></label><span id='SelectWithAdd-fold-field-Pointer-docs' class="fold-docs">
				a function that defines how to render the cursor
</span></span><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-field-Validate"><label for="SelectWithAdd-fold-field-Validate"><a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-507">Validate</a> <i><a href="#name-ValidateFunc">ValidateFunc</a></i></label><span id='SelectWithAdd-fold-field-Validate-docs' class="fold-docs">
				Validate is an optional function that fill be used against the entered value in the prompt to validate it.
				If the value is valid, it is returned to the callee to be added in the list.
</span></span></span>
		<input type='checkbox' class="fold" id="SelectWithAdd-fold-methods"><label for="SelectWithAdd-fold-methods">Methods (<i>only one, which is exported</i>)</label><span id='SelectWithAdd-fold-methods-items' class="fold-items"><span>
			<input type='checkbox' class="fold" id="SelectWithAdd-fold-method-Run"><label for="SelectWithAdd-fold-method-Run">(*T) <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-527">Run</a>() (<a href="../../builtin.html#name-int">int</a>, <a href="../../builtin.html#name-string">string</a>, <a href="../../builtin.html#name-error">error</a>)</label><span id='SelectWithAdd-fold-method-Run-docs' class="fold-docs">
				Run executes the select list. Its displays the label and the list of items, asking the user to chose any
				value within to list or add his own. Run will keep the prompt alive until it has been canceled from
				the command prompt or it has received a valid value.

				If the addLabel is selected in the list, this function will return a -1 index with the added label and no error.
				Otherwise, it will return the index and the value of the selected item. In any case, if an error is triggered, it
				will also return the error as its third return value.
</span></span></span>

</span></div><div class="anchor type-res" id="name-ValidateFunc" data-popularity="0">	<input type='checkbox' class="fold" id="ValidateFunc-fold-content"><label for="ValidateFunc-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/promptui.go.html#line-27">ValidateFunc</a> <i>(func)</i></label><span id='ValidateFunc-fold-content-docs' class="fold-docs">
		ValidateFunc is a placeholder type for any validation functions that validates a given input. It should return
		a ValidationError if the input is not valid.

</span></div></div><div>	<input type='checkbox' class="showhide" id="unexported-typenames-showhide"><i><label for="unexported-typenames-showhide" class="show-inline">/* one unexported ... */</label><label for="unexported-typenames-showhide" class="hide-inline">/* one unexported: */</label></i><div class="anchor type-res hidden" id="name-attribute" data-popularity="50">	<input type='checkbox' class="fold" id="attribute-fold-content"><label for="attribute-fold-content"> type <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-12">attribute</a> <a href="../../builtin.html#name-int">int</a> <i>(basic type)</i></label><span id='attribute-fold-content-docs' class="fold-docs">

		<input type='checkbox' class="fold" id="attribute-fold-params"><label for="attribute-fold-params">As Inputs Of (<i>at least one exported</i>)</label><span id='attribute-fold-params-items' class="fold-items"><span>
			func <a href="#name-Styler">Styler</a>(attrs ...<b>attribute</b>) func(interface{}) <a href="../../builtin.html#name-string">string</a></span></span>
		<input type='checkbox' class="fold" id="attribute-fold-values"><label for="attribute-fold-values">As Types Of (<i>total 21, in which 20 are exported</i>)</label><span id='attribute-fold-values-items' class="fold-items"><span>
			const <a href="#name-BGBlack">BGBlack</a></span><span>
			const <a href="#name-BGBlue">BGBlue</a></span><span>
			const <a href="#name-BGCyan">BGCyan</a></span><span>
			const <a href="#name-BGGreen">BGGreen</a></span><span>
			const <a href="#name-BGMagenta">BGMagenta</a></span><span>
			const <a href="#name-BGRed">BGRed</a></span><span>
			const <a href="#name-BGWhite">BGWhite</a></span><span>
			const <a href="#name-BGYellow">BGYellow</a></span><span>
			const <a href="#name-FGBlack">FGBlack</a></span><span>
			const <a href="#name-FGBlue">FGBlue</a></span><span>
			const <a href="#name-FGBold">FGBold</a></span><span>
			const <a href="#name-FGCyan">FGCyan</a></span><span>
			const <a href="#name-FGFaint">FGFaint</a></span><span>
			const <a href="#name-FGGreen">FGGreen</a></span><span>
			const <a href="#name-FGItalic">FGItalic</a></span><span>
			const <a href="#name-FGMagenta">FGMagenta</a></span><span>
			const <a href="#name-FGRed">FGRed</a></span><span>
			const <a href="#name-FGUnderline">FGUnderline</a></span><span>
			const <a href="#name-FGWhite">FGWhite</a></span><span>
			const <a href="#name-FGYellow">FGYellow</a></span>
			<input type='checkbox' checked class="showhide" id="attribute-showhide-values"><i><label for="attribute-showhide-values" class="show-inline">/* one unexported ... */</label><label for="attribute-showhide-values" class="hide-inline">/* one unexported: */</label></i><span class="hidden"><i>
			const <a href="#name-reset">reset</a></i></span></span>

</span></div></div>
<div id="exported-functions"><span class="title">Package-Level Functions<span class="title-stat"><i> (total 10, in which 2 are exported)</i></span></span>

<div class="anchor value-res" id="name-NewCursor">	<input type='checkbox' class="fold" id="NewCursor-fold-content"><label for="NewCursor-fold-content"> func <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-57">NewCursor</a>(startinginput <a href="../../builtin.html#name-string">string</a>, pointer <a href="#name-Pointer">Pointer</a>, eraseDefault <a href="../../builtin.html#name-bool">bool</a>) <a href="#name-Cursor">Cursor</a></label><span id='NewCursor-fold-content-docs' class="fold-docs">
		NewCursor create a new cursor, with the DefaultCursor, the specified input,
		and position at the end of the specified starting input.

</span></div><div class="anchor value-res" id="name-Styler">	<input type='checkbox' class="fold" id="Styler-fold-content"><label for="Styler-fold-content"> func <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-104">Styler</a>(attrs ...<a href="#name-attribute">attribute</a>) func(interface{}) <a href="../../builtin.html#name-string">string</a></label><span id='Styler-fold-content-docs' class="fold-docs">
		Styler is a function that accepts multiple possible styling transforms from the state,
		color and background colors constants and transforms them into a templated string
		to apply those styles in the CLI.

		The returned styling function accepts a string that will be extended with
		the wrapping function's styling attributes.

</span></div>	<input type='checkbox' class="showhide" id="unexported-functions-showhide"><i><label for="unexported-functions-showhide" class="show-inline">/* 8 unexporteds ... */</label><label for="unexported-functions-showhide" class="hide-inline">/* 8 unexporteds: */</label></i><div class="anchor value-res hidden" id="name-blockCursor"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-16">blockCursor</a>(input []<a href="../../builtin.html#name-rune">rune</a>) []<a href="../../builtin.html#name-rune">rune</a></span></i></div><div class="anchor value-res hidden" id="name-clearScreen"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-633">clearScreen</a>(sb *<a href="promptui/screenbuf.html">screenbuf</a>.<a href="promptui/screenbuf.html#name-ScreenBuf">ScreenBuf</a>)</span></i></div><div class="anchor value-res hidden" id="name-defaultCursor"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-12">defaultCursor</a>(ignored []<a href="../../builtin.html#name-rune">rune</a>) []<a href="../../builtin.html#name-rune">rune</a></span></i></div><div class="anchor value-res hidden" id="name-format"><i>	<input type='checkbox' class="fold" id="format-fold-content"><label for="format-fold-content"> func <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-100">format</a>(a []<a href="../../builtin.html#name-rune">rune</a>, c *<a href="#name-Cursor">Cursor</a>) <a href="../../builtin.html#name-string">string</a></label><span id='format-fold-content-docs' class="fold-docs">
		insert the cursor rune array into r before the provided index

</span></i></div><div class="anchor value-res hidden" id="name-movementCode"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-94">movementCode</a>(n <a href="../../builtin.html#name-uint">uint</a>, code <a href="../../builtin.html#name-rune">rune</a>) <a href="../../builtin.html#name-string">string</a></span></i></div><div class="anchor value-res hidden" id="name-pipeCursor"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-20">pipeCursor</a>(input []<a href="../../builtin.html#name-rune">rune</a>) []<a href="../../builtin.html#name-rune">rune</a></span></i></div><div class="anchor value-res hidden" id="name-render"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-624">render</a>(tpl *<a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-Template">Template</a>, data interface{}) []<a href="../../builtin.html#name-byte">byte</a></span></i></div><div class="anchor value-res hidden" id="name-upLine"><i>	<span class="nodocs"> func <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-90">upLine</a>(n <a href="../../builtin.html#name-uint">uint</a>) <a href="../../builtin.html#name-string">string</a></span></i></div></div>
<div id="exported-variables"><span class="title">Package-Level Variables<span class="title-stat"><i> (total 25, all are exported)</i></span></span>

<div class="anchor value-res" id="name-BlockCursor">	<input type='checkbox' class="fold" id="BlockCursor-fold-content"><label for="BlockCursor-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-34">BlockCursor</a> <a href="#name-Pointer">Pointer</a></label><span id='BlockCursor-fold-content-docs' class="fold-docs">
		BlockCursor is a cursor which highlights a character by inverting colors
		on it.

</span></div><div class="anchor value-res" id="name-DefaultCursor">	<input type='checkbox' class="fold" id="DefaultCursor-fold-content"><label for="DefaultCursor-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-31">DefaultCursor</a> <a href="#name-Pointer">Pointer</a></label><span id='DefaultCursor-fold-content-docs' class="fold-docs">
		DefaultCursor is a big square block character. Obscures whatever was
		input.

</span></div><div class="anchor value-res" id="name-ErrAbort">	<input type='checkbox' class="fold" id="ErrAbort-fold-content"><label for="ErrAbort-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/promptui.go.html#line-23">ErrAbort</a> <a href="../../builtin.html#name-error">error</a></label><span id='ErrAbort-fold-content-docs' class="fold-docs">
		ErrAbort is the error returned when confirm prompts are supplied "n"

</span></div><div class="anchor value-res" id="name-ErrEOF">	<input type='checkbox' class="fold" id="ErrEOF-fold-content"><label for="ErrEOF-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/promptui.go.html#line-16">ErrEOF</a> <a href="../../builtin.html#name-error">error</a></label><span id='ErrEOF-fold-content-docs' class="fold-docs">
		ErrEOF is the error returned from prompts when EOF is encountered.

</span></div><div class="anchor value-res" id="name-ErrInterrupt">	<input type='checkbox' class="fold" id="ErrInterrupt-fold-content"><label for="ErrInterrupt-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/promptui.go.html#line-20">ErrInterrupt</a> <a href="../../builtin.html#name-error">error</a></label><span id='ErrInterrupt-fold-content-docs' class="fold-docs">
		ErrInterrupt is the error returned from prompts when an interrupt (ctrl-c) is
		encountered.

</span></div><div class="anchor value-res" id="name-FuncMap">	<input type='checkbox' class="fold" id="FuncMap-fold-content"><label for="FuncMap-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-67">FuncMap</a> <a href="../../text/template.html">template</a>.<a href="../../text/template.html#name-FuncMap">FuncMap</a></label><span id='FuncMap-fold-content-docs' class="fold-docs">
		FuncMap defines template helpers for the output. It can be extended as a regular map.

		The functions inside the map link the state, color and background colors strings detected in templates to a Styler
		function that applies the given style using the corresponding constant.

</span></div><div class="anchor value-res" id="name-IconBad">	<input type='checkbox' class="fold" id="IconBad-fold-content"><label for="IconBad-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/styles.go.html#line-19">IconBad</a> <a href="../../builtin.html#name-string">string</a></label><span id='IconBad-fold-content-docs' class="fold-docs">
		IconBad is the icon used when a bad answer is entered in prompt mode.

</span></div><div class="anchor value-res" id="name-IconGood">	<input type='checkbox' class="fold" id="IconGood-fold-content"><label for="IconGood-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/styles.go.html#line-13">IconGood</a> <a href="../../builtin.html#name-string">string</a></label><span id='IconGood-fold-content-docs' class="fold-docs">
		IconGood is the icon used when a good answer is entered in prompt mode.

</span></div><div class="anchor value-res" id="name-IconInitial">	<input type='checkbox' class="fold" id="IconInitial-fold-content"><label for="IconInitial-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/styles.go.html#line-10">IconInitial</a> <a href="../../builtin.html#name-string">string</a></label><span id='IconInitial-fold-content-docs' class="fold-docs">
		IconInitial is the icon used when starting in prompt mode and the icon next to the label when
		starting in select mode.

</span></div><div class="anchor value-res" id="name-IconSelect">	<input type='checkbox' class="fold" id="IconSelect-fold-content"><label for="IconSelect-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/styles.go.html#line-22">IconSelect</a> <a href="../../builtin.html#name-string">string</a></label><span id='IconSelect-fold-content-docs' class="fold-docs">
		IconSelect is the icon used to identify the currently selected item in select mode.

</span></div><div class="anchor value-res" id="name-IconWarn">	<input type='checkbox' class="fold" id="IconWarn-fold-content"><label for="IconWarn-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/styles.go.html#line-16">IconWarn</a> <a href="../../builtin.html#name-string">string</a></label><span id='IconWarn-fold-content-docs' class="fold-docs">
		IconWarn is the icon used when a good, but potentially invalid answer is entered in prompt mode.

</span></div><div class="anchor value-res" id="name-KeyBackspace">	<input type='checkbox' class="fold" id="KeyBackspace-fold-content"><label for="KeyBackspace-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes_other.go.html#line-9">KeyBackspace</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyBackspace-fold-content-docs' class="fold-docs">
		KeyBackspace is the default key for deleting input text.

</span></div><div class="anchor value-res" id="name-KeyBackward">	<input type='checkbox' class="fold" id="KeyBackward-fold-content"><label for="KeyBackward-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-23">KeyBackward</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyBackward-fold-content-docs' class="fold-docs">
		KeyBackward is the default key to page up during selection.

</span></div><div class="anchor value-res" id="name-KeyBackwardDisplay">	<input type='checkbox' class="fold" id="KeyBackwardDisplay-fold-content"><label for="KeyBackwardDisplay-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-24">KeyBackwardDisplay</a> <a href="../../builtin.html#name-string">string</a></label><span id='KeyBackwardDisplay-fold-content-docs' class="fold-docs">
		These runes are used to identify the commands entered by the user in the command prompt. They map
		to specific actions of promptui in prompt mode and can be remapped if necessary.

</span></div><div class="anchor value-res" id="name-KeyCtrlH">	<input type='checkbox' class="fold" id="KeyCtrlH-fold-content"><label for="KeyCtrlH-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-12">KeyCtrlH</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyCtrlH-fold-content-docs' class="fold-docs">
		KeyCtrlH is the key for deleting input text.

</span></div><div class="anchor value-res" id="name-KeyEnter">	<input type='checkbox' class="fold" id="KeyEnter-fold-content"><label for="KeyEnter-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-9">KeyEnter</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyEnter-fold-content-docs' class="fold-docs">
		KeyEnter is the default key for submission/selection.

</span></div><div class="anchor value-res" id="name-KeyForward">	<input type='checkbox' class="fold" id="KeyForward-fold-content"><label for="KeyForward-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-27">KeyForward</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyForward-fold-content-docs' class="fold-docs">
		KeyForward is the default key to page down during selection.

</span></div><div class="anchor value-res" id="name-KeyForwardDisplay">	<input type='checkbox' class="fold" id="KeyForwardDisplay-fold-content"><label for="KeyForwardDisplay-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-28">KeyForwardDisplay</a> <a href="../../builtin.html#name-string">string</a></label><span id='KeyForwardDisplay-fold-content-docs' class="fold-docs">
		These runes are used to identify the commands entered by the user in the command prompt. They map
		to specific actions of promptui in prompt mode and can be remapped if necessary.

</span></div><div class="anchor value-res" id="name-KeyNext">	<input type='checkbox' class="fold" id="KeyNext-fold-content"><label for="KeyNext-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-19">KeyNext</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyNext-fold-content-docs' class="fold-docs">
		KeyNext is the default key to go down during selection.

</span></div><div class="anchor value-res" id="name-KeyNextDisplay">	<input type='checkbox' class="fold" id="KeyNextDisplay-fold-content"><label for="KeyNextDisplay-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-20">KeyNextDisplay</a> <a href="../../builtin.html#name-string">string</a></label><span id='KeyNextDisplay-fold-content-docs' class="fold-docs">
		These runes are used to identify the commands entered by the user in the command prompt. They map
		to specific actions of promptui in prompt mode and can be remapped if necessary.

</span></div><div class="anchor value-res" id="name-KeyPrev">	<input type='checkbox' class="fold" id="KeyPrev-fold-content"><label for="KeyPrev-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-15">KeyPrev</a> <a href="../../builtin.html#name-rune">rune</a></label><span id='KeyPrev-fold-content-docs' class="fold-docs">
		KeyPrev is the default key to go up during selection.

</span></div><div class="anchor value-res" id="name-KeyPrevDisplay">	<input type='checkbox' class="fold" id="KeyPrevDisplay-fold-content"><label for="KeyPrevDisplay-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/keycodes.go.html#line-16">KeyPrevDisplay</a> <a href="../../builtin.html#name-string">string</a></label><span id='KeyPrevDisplay-fold-content-docs' class="fold-docs">
		These runes are used to identify the commands entered by the user in the command prompt. They map
		to specific actions of promptui in prompt mode and can be remapped if necessary.

</span></div><div class="anchor value-res" id="name-PipeCursor">	<input type='checkbox' class="fold" id="PipeCursor-fold-content"><label for="PipeCursor-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/cursor.go.html#line-37">PipeCursor</a> <a href="#name-Pointer">Pointer</a></label><span id='PipeCursor-fold-content-docs' class="fold-docs">
		PipeCursor is a pipe character "|" which appears before the input
		character.

</span></div><div class="anchor value-res" id="name-ResetCode">	<input type='checkbox' class="fold" id="ResetCode-fold-content"><label for="ResetCode-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-55">ResetCode</a> <a href="../../builtin.html#name-string">string</a></label><span id='ResetCode-fold-content-docs' class="fold-docs">
		ResetCode is the character code used to reset the terminal formatting

</span></div><div class="anchor value-res" id="name-SearchPrompt">	<input type='checkbox' class="fold" id="SearchPrompt-fold-content"><label for="SearchPrompt-fold-content">  var <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-184">SearchPrompt</a> <a href="../../builtin.html#name-string">string</a></label><span id='SearchPrompt-fold-content-docs' class="fold-docs">
		SearchPrompt is the prompt displayed in search mode.

</span></div></div>
<div id="exported-constants"><span class="title">Package-Level Constants<span class="title-stat"><i> (total 26, in which 21 are exported)</i></span></span>

<div class="anchor value-res" id="name-BGBlack">	<input type='checkbox' class="fold" id="BGBlack-fold-content"><label for="BGBlack-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-44">BGBlack</a> <a href="#name-attribute">attribute</a> = 40</label><span id='BGBlack-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGBlue">	<input type='checkbox' class="fold" id="BGBlue-fold-content"><label for="BGBlue-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-48">BGBlue</a> <a href="#name-attribute">attribute</a> = 44</label><span id='BGBlue-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGCyan">	<input type='checkbox' class="fold" id="BGCyan-fold-content"><label for="BGCyan-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-50">BGCyan</a> <a href="#name-attribute">attribute</a> = 46</label><span id='BGCyan-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGGreen">	<input type='checkbox' class="fold" id="BGGreen-fold-content"><label for="BGGreen-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-46">BGGreen</a> <a href="#name-attribute">attribute</a> = 42</label><span id='BGGreen-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGMagenta">	<input type='checkbox' class="fold" id="BGMagenta-fold-content"><label for="BGMagenta-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-49">BGMagenta</a> <a href="#name-attribute">attribute</a> = 45</label><span id='BGMagenta-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGRed">	<input type='checkbox' class="fold" id="BGRed-fold-content"><label for="BGRed-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-45">BGRed</a> <a href="#name-attribute">attribute</a> = 41</label><span id='BGRed-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGWhite">	<input type='checkbox' class="fold" id="BGWhite-fold-content"><label for="BGWhite-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-51">BGWhite</a> <a href="#name-attribute">attribute</a> = 47</label><span id='BGWhite-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-BGYellow">	<input type='checkbox' class="fold" id="BGYellow-fold-content"><label for="BGYellow-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-47">BGYellow</a> <a href="#name-attribute">attribute</a> = 43</label><span id='BGYellow-fold-content-docs' class="fold-docs">
		The possible background colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGBlack">	<input type='checkbox' class="fold" id="FGBlack-fold-content"><label for="FGBlack-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-30">FGBlack</a> <a href="#name-attribute">attribute</a> = 30</label><span id='FGBlack-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGBlue">	<input type='checkbox' class="fold" id="FGBlue-fold-content"><label for="FGBlue-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-34">FGBlue</a> <a href="#name-attribute">attribute</a> = 34</label><span id='FGBlue-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGBold">	<input type='checkbox' class="fold" id="FGBold-fold-content"><label for="FGBold-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-20">FGBold</a> <a href="#name-attribute">attribute</a> = 1</label><span id='FGBold-fold-content-docs' class="fold-docs">
		The possible state of text inside the application, either Bold, faint, italic or underline.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGCyan">	<input type='checkbox' class="fold" id="FGCyan-fold-content"><label for="FGCyan-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-36">FGCyan</a> <a href="#name-attribute">attribute</a> = 36</label><span id='FGCyan-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGFaint">	<input type='checkbox' class="fold" id="FGFaint-fold-content"><label for="FGFaint-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-21">FGFaint</a> <a href="#name-attribute">attribute</a> = 2</label><span id='FGFaint-fold-content-docs' class="fold-docs">
		The possible state of text inside the application, either Bold, faint, italic or underline.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGGreen">	<input type='checkbox' class="fold" id="FGGreen-fold-content"><label for="FGGreen-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-32">FGGreen</a> <a href="#name-attribute">attribute</a> = 32</label><span id='FGGreen-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGItalic">	<input type='checkbox' class="fold" id="FGItalic-fold-content"><label for="FGItalic-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-22">FGItalic</a> <a href="#name-attribute">attribute</a> = 3</label><span id='FGItalic-fold-content-docs' class="fold-docs">
		The possible state of text inside the application, either Bold, faint, italic or underline.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGMagenta">	<input type='checkbox' class="fold" id="FGMagenta-fold-content"><label for="FGMagenta-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-35">FGMagenta</a> <a href="#name-attribute">attribute</a> = 35</label><span id='FGMagenta-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGRed">	<input type='checkbox' class="fold" id="FGRed-fold-content"><label for="FGRed-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-31">FGRed</a> <a href="#name-attribute">attribute</a> = 31</label><span id='FGRed-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGUnderline">	<input type='checkbox' class="fold" id="FGUnderline-fold-content"><label for="FGUnderline-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-23">FGUnderline</a> <a href="#name-attribute">attribute</a> = 4</label><span id='FGUnderline-fold-content-docs' class="fold-docs">
		The possible state of text inside the application, either Bold, faint, italic or underline.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGWhite">	<input type='checkbox' class="fold" id="FGWhite-fold-content"><label for="FGWhite-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-37">FGWhite</a> <a href="#name-attribute">attribute</a> = 37</label><span id='FGWhite-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-FGYellow">	<input type='checkbox' class="fold" id="FGYellow-fold-content"><label for="FGYellow-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-33">FGYellow</a> <a href="#name-attribute">attribute</a> = 33</label><span id='FGYellow-fold-content-docs' class="fold-docs">
		The possible colors of text inside the application.

		These constants are called through the use of the Styler function.

</span></div><div class="anchor value-res" id="name-SelectedAdd">	<input type='checkbox' class="fold" id="SelectedAdd-fold-content"><label for="SelectedAdd-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/select.go.html#line-19">SelectedAdd</a> = -1</label><span id='SelectedAdd-fold-content-docs' class="fold-docs">
		SelectedAdd is used internally inside SelectWithAdd when the add option is selected in select mode.
		Since -1 is not a possible selected index, this ensure that add mode is always unique inside
		SelectWithAdd's logic.

</span></div>	<input type='checkbox' class="showhide" id="unexported-constants-showhide"><i><label for="unexported-constants-showhide" class="show-inline">/* 5 unexporteds ... */</label><label for="unexported-constants-showhide" class="hide-inline">/* 5 unexporteds: */</label></i><div class="anchor value-res hidden" id="name-clearLine"><i>	<span class="nodocs">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-60">clearLine</a> = "\x1b[2K"</span></i></div><div class="anchor value-res hidden" id="name-esc"><i>	<span class="nodocs">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-10">esc</a> = "\x1b["</span></i></div><div class="anchor value-res hidden" id="name-hideCursor"><i>	<span class="nodocs">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-58">hideCursor</a> = "\x1b[?25l"</span></i></div><div class="anchor value-res hidden" id="name-reset"><i>	<input type='checkbox' class="fold" id="reset-fold-content"><label for="reset-fold-content">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-18">reset</a> <a href="#name-attribute">attribute</a> = 0</label><span id='reset-fold-content-docs' class="fold-docs">
		The possible state of text inside the application, either Bold, faint, italic or underline.

		These constants are called through the use of the Styler function.

</span></i></div><div class="anchor value-res hidden" id="name-showCursor"><i>	<span class="nodocs">const <a href="../../../src/github.com/manifoldco/promptui/codes.go.html#line-59">showCursor</a> = "\x1b[?25h"</span></i></div></div></code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>