<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: context.go in package html/template</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	context.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/html/template.html">html/template</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2011 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<span class="codeline" id="line-5"><code>package template</code></span>
<span class="codeline" id="line-6"><code></code></span>
<span class="codeline" id="line-7"><code>import (</code></span>
<span class="codeline" id="line-8"><code>	"fmt"</code></span>
<span class="codeline" id="line-9"><code>)</code></span>
<span class="codeline" id="line-10"><code></code></span>
<span class="codeline" id="line-11"><code>// context describes the state an HTML parser must be in when it reaches the</code></span>
<span class="codeline" id="line-12"><code>// portion of HTML produced by evaluating a particular template node.</code></span>
<span class="codeline" id="line-13"><code>//</code></span>
<span class="codeline" id="line-14"><code>// The zero value of type context is the start context for a template that</code></span>
<span class="codeline" id="line-15"><code>// produces an HTML fragment as defined at</code></span>
<span class="codeline" id="line-16"><code>// https://www.w3.org/TR/html5/syntax.html#the-end</code></span>
<span class="codeline" id="line-17"><code>// where the context element is null.</code></span>
<span class="codeline" id="line-18"><code>type context struct {</code></span>
<span class="codeline" id="line-19"><code>	state   state</code></span>
<span class="codeline" id="line-20"><code>	delim   delim</code></span>
<span class="codeline" id="line-21"><code>	urlPart urlPart</code></span>
<span class="codeline" id="line-22"><code>	jsCtx   jsCtx</code></span>
<span class="codeline" id="line-23"><code>	attr    attr</code></span>
<span class="codeline" id="line-24"><code>	element element</code></span>
<span class="codeline" id="line-25"><code>	err     *Error</code></span>
<span class="codeline" id="line-26"><code>}</code></span>
<span class="codeline" id="line-27"><code></code></span>
<span class="codeline" id="line-28"><code>func (c context) String() string {</code></span>
<span class="codeline" id="line-29"><code>	var err error</code></span>
<span class="codeline" id="line-30"><code>	if c.err != nil {</code></span>
<span class="codeline" id="line-31"><code>		err = c.err</code></span>
<span class="codeline" id="line-32"><code>	}</code></span>
<span class="codeline" id="line-33"><code>	return fmt.Sprintf("{%v %v %v %v %v %v %v}", c.state, c.delim, c.urlPart, c.jsCtx, c.attr, c.element, err)</code></span>
<span class="codeline" id="line-34"><code>}</code></span>
<span class="codeline" id="line-35"><code></code></span>
<span class="codeline" id="line-36"><code>// eq reports whether two contexts are equal.</code></span>
<span class="codeline" id="line-37"><code>func (c context) eq(d context) bool {</code></span>
<span class="codeline" id="line-38"><code>	return c.state == d.state &amp;&amp;</code></span>
<span class="codeline" id="line-39"><code>		c.delim == d.delim &amp;&amp;</code></span>
<span class="codeline" id="line-40"><code>		c.urlPart == d.urlPart &amp;&amp;</code></span>
<span class="codeline" id="line-41"><code>		c.jsCtx == d.jsCtx &amp;&amp;</code></span>
<span class="codeline" id="line-42"><code>		c.attr == d.attr &amp;&amp;</code></span>
<span class="codeline" id="line-43"><code>		c.element == d.element &amp;&amp;</code></span>
<span class="codeline" id="line-44"><code>		c.err == d.err</code></span>
<span class="codeline" id="line-45"><code>}</code></span>
<span class="codeline" id="line-46"><code></code></span>
<span class="codeline" id="line-47"><code>// mangle produces an identifier that includes a suffix that distinguishes it</code></span>
<span class="codeline" id="line-48"><code>// from template names mangled with different contexts.</code></span>
<span class="codeline" id="line-49"><code>func (c context) mangle(templateName string) string {</code></span>
<span class="codeline" id="line-50"><code>	// The mangled name for the default context is the input templateName.</code></span>
<span class="codeline" id="line-51"><code>	if c.state == stateText {</code></span>
<span class="codeline" id="line-52"><code>		return templateName</code></span>
<span class="codeline" id="line-53"><code>	}</code></span>
<span class="codeline" id="line-54"><code>	s := templateName + "$htmltemplate_" + c.state.String()</code></span>
<span class="codeline" id="line-55"><code>	if c.delim != delimNone {</code></span>
<span class="codeline" id="line-56"><code>		s += "_" + c.delim.String()</code></span>
<span class="codeline" id="line-57"><code>	}</code></span>
<span class="codeline" id="line-58"><code>	if c.urlPart != urlPartNone {</code></span>
<span class="codeline" id="line-59"><code>		s += "_" + c.urlPart.String()</code></span>
<span class="codeline" id="line-60"><code>	}</code></span>
<span class="codeline" id="line-61"><code>	if c.jsCtx != jsCtxRegexp {</code></span>
<span class="codeline" id="line-62"><code>		s += "_" + c.jsCtx.String()</code></span>
<span class="codeline" id="line-63"><code>	}</code></span>
<span class="codeline" id="line-64"><code>	if c.attr != attrNone {</code></span>
<span class="codeline" id="line-65"><code>		s += "_" + c.attr.String()</code></span>
<span class="codeline" id="line-66"><code>	}</code></span>
<span class="codeline" id="line-67"><code>	if c.element != elementNone {</code></span>
<span class="codeline" id="line-68"><code>		s += "_" + c.element.String()</code></span>
<span class="codeline" id="line-69"><code>	}</code></span>
<span class="codeline" id="line-70"><code>	return s</code></span>
<span class="codeline" id="line-71"><code>}</code></span>
<span class="codeline" id="line-72"><code></code></span>
<span class="codeline" id="line-73"><code>// state describes a high-level HTML parser state.</code></span>
<span class="codeline" id="line-74"><code>//</code></span>
<span class="codeline" id="line-75"><code>// It bounds the top of the element stack, and by extension the HTML insertion</code></span>
<span class="codeline" id="line-76"><code>// mode, but also contains state that does not correspond to anything in the</code></span>
<span class="codeline" id="line-77"><code>// HTML5 parsing algorithm because a single token production in the HTML</code></span>
<span class="codeline" id="line-78"><code>// grammar may contain embedded actions in a template. For instance, the quoted</code></span>
<span class="codeline" id="line-79"><code>// HTML attribute produced by</code></span>
<span class="codeline" id="line-80"><code>//     &lt;div title="Hello {{.World}}"&gt;</code></span>
<span class="codeline" id="line-81"><code>// is a single token in HTML's grammar but in a template spans several nodes.</code></span>
<span class="codeline" id="line-82"><code>type state uint8</code></span>
<span class="codeline" id="line-83"><code></code></span>
<span class="codeline" id="line-84"><code>//go:generate stringer -type state</code></span>
<span class="codeline" id="line-85"><code></code></span>
<span class="codeline" id="line-86"><code>const (</code></span>
<span class="codeline" id="line-87"><code>	// stateText is parsed character data. An HTML parser is in</code></span>
<span class="codeline" id="line-88"><code>	// this state when its parse position is outside an HTML tag,</code></span>
<span class="codeline" id="line-89"><code>	// directive, comment, and special element body.</code></span>
<span class="codeline" id="line-90"><code>	stateText state = iota</code></span>
<span class="codeline" id="line-91"><code>	// stateTag occurs before an HTML attribute or the end of a tag.</code></span>
<span class="codeline" id="line-92"><code>	stateTag</code></span>
<span class="codeline" id="line-93"><code>	// stateAttrName occurs inside an attribute name.</code></span>
<span class="codeline" id="line-94"><code>	// It occurs between the ^'s in ` ^name^ = value`.</code></span>
<span class="codeline" id="line-95"><code>	stateAttrName</code></span>
<span class="codeline" id="line-96"><code>	// stateAfterName occurs after an attr name has ended but before any</code></span>
<span class="codeline" id="line-97"><code>	// equals sign. It occurs between the ^'s in ` name^ ^= value`.</code></span>
<span class="codeline" id="line-98"><code>	stateAfterName</code></span>
<span class="codeline" id="line-99"><code>	// stateBeforeValue occurs after the equals sign but before the value.</code></span>
<span class="codeline" id="line-100"><code>	// It occurs between the ^'s in ` name =^ ^value`.</code></span>
<span class="codeline" id="line-101"><code>	stateBeforeValue</code></span>
<span class="codeline" id="line-102"><code>	// stateHTMLCmt occurs inside an &lt;!-- HTML comment --&gt;.</code></span>
<span class="codeline" id="line-103"><code>	stateHTMLCmt</code></span>
<span class="codeline" id="line-104"><code>	// stateRCDATA occurs inside an RCDATA element (&lt;textarea&gt; or &lt;title&gt;)</code></span>
<span class="codeline" id="line-105"><code>	// as described at https://www.w3.org/TR/html5/syntax.html#elements-0</code></span>
<span class="codeline" id="line-106"><code>	stateRCDATA</code></span>
<span class="codeline" id="line-107"><code>	// stateAttr occurs inside an HTML attribute whose content is text.</code></span>
<span class="codeline" id="line-108"><code>	stateAttr</code></span>
<span class="codeline" id="line-109"><code>	// stateURL occurs inside an HTML attribute whose content is a URL.</code></span>
<span class="codeline" id="line-110"><code>	stateURL</code></span>
<span class="codeline" id="line-111"><code>	// stateSrcset occurs inside an HTML srcset attribute.</code></span>
<span class="codeline" id="line-112"><code>	stateSrcset</code></span>
<span class="codeline" id="line-113"><code>	// stateJS occurs inside an event handler or script element.</code></span>
<span class="codeline" id="line-114"><code>	stateJS</code></span>
<span class="codeline" id="line-115"><code>	// stateJSDqStr occurs inside a JavaScript double quoted string.</code></span>
<span class="codeline" id="line-116"><code>	stateJSDqStr</code></span>
<span class="codeline" id="line-117"><code>	// stateJSSqStr occurs inside a JavaScript single quoted string.</code></span>
<span class="codeline" id="line-118"><code>	stateJSSqStr</code></span>
<span class="codeline" id="line-119"><code>	// stateJSRegexp occurs inside a JavaScript regexp literal.</code></span>
<span class="codeline" id="line-120"><code>	stateJSRegexp</code></span>
<span class="codeline" id="line-121"><code>	// stateJSBlockCmt occurs inside a JavaScript /* block comment */.</code></span>
<span class="codeline" id="line-122"><code>	stateJSBlockCmt</code></span>
<span class="codeline" id="line-123"><code>	// stateJSLineCmt occurs inside a JavaScript // line comment.</code></span>
<span class="codeline" id="line-124"><code>	stateJSLineCmt</code></span>
<span class="codeline" id="line-125"><code>	// stateCSS occurs inside a &lt;style&gt; element or style attribute.</code></span>
<span class="codeline" id="line-126"><code>	stateCSS</code></span>
<span class="codeline" id="line-127"><code>	// stateCSSDqStr occurs inside a CSS double quoted string.</code></span>
<span class="codeline" id="line-128"><code>	stateCSSDqStr</code></span>
<span class="codeline" id="line-129"><code>	// stateCSSSqStr occurs inside a CSS single quoted string.</code></span>
<span class="codeline" id="line-130"><code>	stateCSSSqStr</code></span>
<span class="codeline" id="line-131"><code>	// stateCSSDqURL occurs inside a CSS double quoted url("...").</code></span>
<span class="codeline" id="line-132"><code>	stateCSSDqURL</code></span>
<span class="codeline" id="line-133"><code>	// stateCSSSqURL occurs inside a CSS single quoted url('...').</code></span>
<span class="codeline" id="line-134"><code>	stateCSSSqURL</code></span>
<span class="codeline" id="line-135"><code>	// stateCSSURL occurs inside a CSS unquoted url(...).</code></span>
<span class="codeline" id="line-136"><code>	stateCSSURL</code></span>
<span class="codeline" id="line-137"><code>	// stateCSSBlockCmt occurs inside a CSS /* block comment */.</code></span>
<span class="codeline" id="line-138"><code>	stateCSSBlockCmt</code></span>
<span class="codeline" id="line-139"><code>	// stateCSSLineCmt occurs inside a CSS // line comment.</code></span>
<span class="codeline" id="line-140"><code>	stateCSSLineCmt</code></span>
<span class="codeline" id="line-141"><code>	// stateError is an infectious error state outside any valid</code></span>
<span class="codeline" id="line-142"><code>	// HTML/CSS/JS construct.</code></span>
<span class="codeline" id="line-143"><code>	stateError</code></span>
<span class="codeline" id="line-144"><code>)</code></span>
<span class="codeline" id="line-145"><code></code></span>
<span class="codeline" id="line-146"><code>// isComment is true for any state that contains content meant for template</code></span>
<span class="codeline" id="line-147"><code>// authors &amp; maintainers, not for end-users or machines.</code></span>
<span class="codeline" id="line-148"><code>func isComment(s state) bool {</code></span>
<span class="codeline" id="line-149"><code>	switch s {</code></span>
<span class="codeline" id="line-150"><code>	case stateHTMLCmt, stateJSBlockCmt, stateJSLineCmt, stateCSSBlockCmt, stateCSSLineCmt:</code></span>
<span class="codeline" id="line-151"><code>		return true</code></span>
<span class="codeline" id="line-152"><code>	}</code></span>
<span class="codeline" id="line-153"><code>	return false</code></span>
<span class="codeline" id="line-154"><code>}</code></span>
<span class="codeline" id="line-155"><code></code></span>
<span class="codeline" id="line-156"><code>// isInTag return whether s occurs solely inside an HTML tag.</code></span>
<span class="codeline" id="line-157"><code>func isInTag(s state) bool {</code></span>
<span class="codeline" id="line-158"><code>	switch s {</code></span>
<span class="codeline" id="line-159"><code>	case stateTag, stateAttrName, stateAfterName, stateBeforeValue, stateAttr:</code></span>
<span class="codeline" id="line-160"><code>		return true</code></span>
<span class="codeline" id="line-161"><code>	}</code></span>
<span class="codeline" id="line-162"><code>	return false</code></span>
<span class="codeline" id="line-163"><code>}</code></span>
<span class="codeline" id="line-164"><code></code></span>
<span class="codeline" id="line-165"><code>// delim is the delimiter that will end the current HTML attribute.</code></span>
<span class="codeline" id="line-166"><code>type delim uint8</code></span>
<span class="codeline" id="line-167"><code></code></span>
<span class="codeline" id="line-168"><code>//go:generate stringer -type delim</code></span>
<span class="codeline" id="line-169"><code></code></span>
<span class="codeline" id="line-170"><code>const (</code></span>
<span class="codeline" id="line-171"><code>	// delimNone occurs outside any attribute.</code></span>
<span class="codeline" id="line-172"><code>	delimNone delim = iota</code></span>
<span class="codeline" id="line-173"><code>	// delimDoubleQuote occurs when a double quote (") closes the attribute.</code></span>
<span class="codeline" id="line-174"><code>	delimDoubleQuote</code></span>
<span class="codeline" id="line-175"><code>	// delimSingleQuote occurs when a single quote (') closes the attribute.</code></span>
<span class="codeline" id="line-176"><code>	delimSingleQuote</code></span>
<span class="codeline" id="line-177"><code>	// delimSpaceOrTagEnd occurs when a space or right angle bracket (&gt;)</code></span>
<span class="codeline" id="line-178"><code>	// closes the attribute.</code></span>
<span class="codeline" id="line-179"><code>	delimSpaceOrTagEnd</code></span>
<span class="codeline" id="line-180"><code>)</code></span>
<span class="codeline" id="line-181"><code></code></span>
<span class="codeline" id="line-182"><code>// urlPart identifies a part in an RFC 3986 hierarchical URL to allow different</code></span>
<span class="codeline" id="line-183"><code>// encoding strategies.</code></span>
<span class="codeline" id="line-184"><code>type urlPart uint8</code></span>
<span class="codeline" id="line-185"><code></code></span>
<span class="codeline" id="line-186"><code>//go:generate stringer -type urlPart</code></span>
<span class="codeline" id="line-187"><code></code></span>
<span class="codeline" id="line-188"><code>const (</code></span>
<span class="codeline" id="line-189"><code>	// urlPartNone occurs when not in a URL, or possibly at the start:</code></span>
<span class="codeline" id="line-190"><code>	// ^ in "^http://auth/path?k=v#frag".</code></span>
<span class="codeline" id="line-191"><code>	urlPartNone urlPart = iota</code></span>
<span class="codeline" id="line-192"><code>	// urlPartPreQuery occurs in the scheme, authority, or path; between the</code></span>
<span class="codeline" id="line-193"><code>	// ^s in "h^ttp://auth/path^?k=v#frag".</code></span>
<span class="codeline" id="line-194"><code>	urlPartPreQuery</code></span>
<span class="codeline" id="line-195"><code>	// urlPartQueryOrFrag occurs in the query portion between the ^s in</code></span>
<span class="codeline" id="line-196"><code>	// "http://auth/path?^k=v#frag^".</code></span>
<span class="codeline" id="line-197"><code>	urlPartQueryOrFrag</code></span>
<span class="codeline" id="line-198"><code>	// urlPartUnknown occurs due to joining of contexts both before and</code></span>
<span class="codeline" id="line-199"><code>	// after the query separator.</code></span>
<span class="codeline" id="line-200"><code>	urlPartUnknown</code></span>
<span class="codeline" id="line-201"><code>)</code></span>
<span class="codeline" id="line-202"><code></code></span>
<span class="codeline" id="line-203"><code>// jsCtx determines whether a '/' starts a regular expression literal or a</code></span>
<span class="codeline" id="line-204"><code>// division operator.</code></span>
<span class="codeline" id="line-205"><code>type jsCtx uint8</code></span>
<span class="codeline" id="line-206"><code></code></span>
<span class="codeline" id="line-207"><code>//go:generate stringer -type jsCtx</code></span>
<span class="codeline" id="line-208"><code></code></span>
<span class="codeline" id="line-209"><code>const (</code></span>
<span class="codeline" id="line-210"><code>	// jsCtxRegexp occurs where a '/' would start a regexp literal.</code></span>
<span class="codeline" id="line-211"><code>	jsCtxRegexp jsCtx = iota</code></span>
<span class="codeline" id="line-212"><code>	// jsCtxDivOp occurs where a '/' would start a division operator.</code></span>
<span class="codeline" id="line-213"><code>	jsCtxDivOp</code></span>
<span class="codeline" id="line-214"><code>	// jsCtxUnknown occurs where a '/' is ambiguous due to context joining.</code></span>
<span class="codeline" id="line-215"><code>	jsCtxUnknown</code></span>
<span class="codeline" id="line-216"><code>)</code></span>
<span class="codeline" id="line-217"><code></code></span>
<span class="codeline" id="line-218"><code>// element identifies the HTML element when inside a start tag or special body.</code></span>
<span class="codeline" id="line-219"><code>// Certain HTML element (for example &lt;script&gt; and &lt;style&gt;) have bodies that are</code></span>
<span class="codeline" id="line-220"><code>// treated differently from stateText so the element type is necessary to</code></span>
<span class="codeline" id="line-221"><code>// transition into the correct context at the end of a tag and to identify the</code></span>
<span class="codeline" id="line-222"><code>// end delimiter for the body.</code></span>
<span class="codeline" id="line-223"><code>type element uint8</code></span>
<span class="codeline" id="line-224"><code></code></span>
<span class="codeline" id="line-225"><code>//go:generate stringer -type element</code></span>
<span class="codeline" id="line-226"><code></code></span>
<span class="codeline" id="line-227"><code>const (</code></span>
<span class="codeline" id="line-228"><code>	// elementNone occurs outside a special tag or special element body.</code></span>
<span class="codeline" id="line-229"><code>	elementNone element = iota</code></span>
<span class="codeline" id="line-230"><code>	// elementScript corresponds to the raw text &lt;script&gt; element</code></span>
<span class="codeline" id="line-231"><code>	// with JS MIME type or no type attribute.</code></span>
<span class="codeline" id="line-232"><code>	elementScript</code></span>
<span class="codeline" id="line-233"><code>	// elementStyle corresponds to the raw text &lt;style&gt; element.</code></span>
<span class="codeline" id="line-234"><code>	elementStyle</code></span>
<span class="codeline" id="line-235"><code>	// elementTextarea corresponds to the RCDATA &lt;textarea&gt; element.</code></span>
<span class="codeline" id="line-236"><code>	elementTextarea</code></span>
<span class="codeline" id="line-237"><code>	// elementTitle corresponds to the RCDATA &lt;title&gt; element.</code></span>
<span class="codeline" id="line-238"><code>	elementTitle</code></span>
<span class="codeline" id="line-239"><code>)</code></span>
<span class="codeline" id="line-240"><code></code></span>
<span class="codeline" id="line-241"><code>//go:generate stringer -type attr</code></span>
<span class="codeline" id="line-242"><code></code></span>
<span class="codeline" id="line-243"><code>// attr identifies the current HTML attribute when inside the attribute,</code></span>
<span class="codeline" id="line-244"><code>// that is, starting from stateAttrName until stateTag/stateText (exclusive).</code></span>
<span class="codeline" id="line-245"><code>type attr uint8</code></span>
<span class="codeline" id="line-246"><code></code></span>
<span class="codeline" id="line-247"><code>const (</code></span>
<span class="codeline" id="line-248"><code>	// attrNone corresponds to a normal attribute or no attribute.</code></span>
<span class="codeline" id="line-249"><code>	attrNone attr = iota</code></span>
<span class="codeline" id="line-250"><code>	// attrScript corresponds to an event handler attribute.</code></span>
<span class="codeline" id="line-251"><code>	attrScript</code></span>
<span class="codeline" id="line-252"><code>	// attrScriptType corresponds to the type attribute in script HTML element</code></span>
<span class="codeline" id="line-253"><code>	attrScriptType</code></span>
<span class="codeline" id="line-254"><code>	// attrStyle corresponds to the style attribute whose value is CSS.</code></span>
<span class="codeline" id="line-255"><code>	attrStyle</code></span>
<span class="codeline" id="line-256"><code>	// attrURL corresponds to an attribute whose value is a URL.</code></span>
<span class="codeline" id="line-257"><code>	attrURL</code></span>
<span class="codeline" id="line-258"><code>	// attrSrcset corresponds to a srcset attribute.</code></span>
<span class="codeline" id="line-259"><code>	attrSrcset</code></span>
<span class="codeline" id="line-260"><code>)</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>