<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: doc.go in package text/template</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	doc.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/text/template.html">text/template</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2011 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<div class="anchor" id="doc"><span class="codeline" id="line-5"><code>/*</code></span>
<span class="codeline" id="line-6"><code>Package template implements data-driven templates for generating textual output.</code></span>
<span class="codeline" id="line-7"><code></code></span>
<span class="codeline" id="line-8"><code>To generate HTML output, see package html/template, which has the same interface</code></span>
<span class="codeline" id="line-9"><code>as this package but automatically secures HTML output against certain attacks.</code></span>
<span class="codeline" id="line-10"><code></code></span>
<span class="codeline" id="line-11"><code>Templates are executed by applying them to a data structure. Annotations in the</code></span>
<span class="codeline" id="line-12"><code>template refer to elements of the data structure (typically a field of a struct</code></span>
<span class="codeline" id="line-13"><code>or a key in a map) to control execution and derive values to be displayed.</code></span>
<span class="codeline" id="line-14"><code>Execution of the template walks the structure and sets the cursor, represented</code></span>
<span class="codeline" id="line-15"><code>by a period '.' and called "dot", to the value at the current location in the</code></span>
<span class="codeline" id="line-16"><code>structure as execution proceeds.</code></span>
<span class="codeline" id="line-17"><code></code></span>
<span class="codeline" id="line-18"><code>The input text for a template is UTF-8-encoded text in any format.</code></span>
<span class="codeline" id="line-19"><code>"Actions"--data evaluations or control structures--are delimited by</code></span>
<span class="codeline" id="line-20"><code>"{{" and "}}"; all text outside actions is copied to the output unchanged.</code></span>
<span class="codeline" id="line-21"><code>Except for raw strings, actions may not span newlines, although comments can.</code></span>
<span class="codeline" id="line-22"><code></code></span>
<span class="codeline" id="line-23"><code>Once parsed, a template may be executed safely in parallel, although if parallel</code></span>
<span class="codeline" id="line-24"><code>executions share a Writer the output may be interleaved.</code></span>
<span class="codeline" id="line-25"><code></code></span>
<span class="codeline" id="line-26"><code>Here is a trivial example that prints "17 items are made of wool".</code></span>
<span class="codeline" id="line-27"><code></code></span>
<span class="codeline" id="line-28"><code>	type Inventory struct {</code></span>
<span class="codeline" id="line-29"><code>		Material string</code></span>
<span class="codeline" id="line-30"><code>		Count    uint</code></span>
<span class="codeline" id="line-31"><code>	}</code></span>
<span class="codeline" id="line-32"><code>	sweaters := Inventory{"wool", 17}</code></span>
<span class="codeline" id="line-33"><code>	tmpl, err := template.New("test").Parse("{{.Count}} items are made of {{.Material}}")</code></span>
<span class="codeline" id="line-34"><code>	if err != nil { panic(err) }</code></span>
<span class="codeline" id="line-35"><code>	err = tmpl.Execute(os.Stdout, sweaters)</code></span>
<span class="codeline" id="line-36"><code>	if err != nil { panic(err) }</code></span>
<span class="codeline" id="line-37"><code></code></span>
<span class="codeline" id="line-38"><code>More intricate examples appear below.</code></span>
<span class="codeline" id="line-39"><code></code></span>
<span class="codeline" id="line-40"><code>Text and spaces</code></span>
<span class="codeline" id="line-41"><code></code></span>
<span class="codeline" id="line-42"><code>By default, all text between actions is copied verbatim when the template is</code></span>
<span class="codeline" id="line-43"><code>executed. For example, the string " items are made of " in the example above</code></span>
<span class="codeline" id="line-44"><code>appears on standard output when the program is run.</code></span>
<span class="codeline" id="line-45"><code></code></span>
<span class="codeline" id="line-46"><code>However, to aid in formatting template source code, if an action's left</code></span>
<span class="codeline" id="line-47"><code>delimiter (by default "{{") is followed immediately by a minus sign and white</code></span>
<span class="codeline" id="line-48"><code>space, all trailing white space is trimmed from the immediately preceding text.</code></span>
<span class="codeline" id="line-49"><code>Similarly, if the right delimiter ("}}") is preceded by white space and a minus</code></span>
<span class="codeline" id="line-50"><code>sign, all leading white space is trimmed from the immediately following text.</code></span>
<span class="codeline" id="line-51"><code>In these trim markers, the white space must be present:</code></span>
<span class="codeline" id="line-52"><code>"{{- 3}}" is like "{{3}}" but trims the immediately preceding text, while</code></span>
<span class="codeline" id="line-53"><code>"{{-3}}" parses as an action containing the number -3.</code></span>
<span class="codeline" id="line-54"><code></code></span>
<span class="codeline" id="line-55"><code>For instance, when executing the template whose source is</code></span>
<span class="codeline" id="line-56"><code></code></span>
<span class="codeline" id="line-57"><code>	"{{23 -}} &lt; {{- 45}}"</code></span>
<span class="codeline" id="line-58"><code></code></span>
<span class="codeline" id="line-59"><code>the generated output would be</code></span>
<span class="codeline" id="line-60"><code></code></span>
<span class="codeline" id="line-61"><code>	"23&lt;45"</code></span>
<span class="codeline" id="line-62"><code></code></span>
<span class="codeline" id="line-63"><code>For this trimming, the definition of white space characters is the same as in Go:</code></span>
<span class="codeline" id="line-64"><code>space, horizontal tab, carriage return, and newline.</code></span>
<span class="codeline" id="line-65"><code></code></span>
<span class="codeline" id="line-66"><code>Actions</code></span>
<span class="codeline" id="line-67"><code></code></span>
<span class="codeline" id="line-68"><code>Here is the list of actions. "Arguments" and "pipelines" are evaluations of</code></span>
<span class="codeline" id="line-69"><code>data, defined in detail in the corresponding sections that follow.</code></span>
<span class="codeline" id="line-70"><code></code></span>
<span class="codeline" id="line-71"><code>*/</code></span>
<span class="codeline" id="line-72"><code>//	{{/* a comment */}}</code></span>
<span class="codeline" id="line-73"><code>//	{{- /* a comment with white space trimmed from preceding and following text */ -}}</code></span>
<span class="codeline" id="line-74"><code>//		A comment; discarded. May contain newlines.</code></span>
<span class="codeline" id="line-75"><code>//		Comments do not nest and must start and end at the</code></span>
<span class="codeline" id="line-76"><code>//		delimiters, as shown here.</code></span>
<span class="codeline" id="line-77"><code>/*</code></span>
<span class="codeline" id="line-78"><code></code></span>
<span class="codeline" id="line-79"><code>	{{pipeline}}</code></span>
<span class="codeline" id="line-80"><code>		The default textual representation (the same as would be</code></span>
<span class="codeline" id="line-81"><code>		printed by fmt.Print) of the value of the pipeline is copied</code></span>
<span class="codeline" id="line-82"><code>		to the output.</code></span>
<span class="codeline" id="line-83"><code></code></span>
<span class="codeline" id="line-84"><code>	{{if pipeline}} T1 {{end}}</code></span>
<span class="codeline" id="line-85"><code>		If the value of the pipeline is empty, no output is generated;</code></span>
<span class="codeline" id="line-86"><code>		otherwise, T1 is executed. The empty values are false, 0, any</code></span>
<span class="codeline" id="line-87"><code>		nil pointer or interface value, and any array, slice, map, or</code></span>
<span class="codeline" id="line-88"><code>		string of length zero.</code></span>
<span class="codeline" id="line-89"><code>		Dot is unaffected.</code></span>
<span class="codeline" id="line-90"><code></code></span>
<span class="codeline" id="line-91"><code>	{{if pipeline}} T1 {{else}} T0 {{end}}</code></span>
<span class="codeline" id="line-92"><code>		If the value of the pipeline is empty, T0 is executed;</code></span>
<span class="codeline" id="line-93"><code>		otherwise, T1 is executed. Dot is unaffected.</code></span>
<span class="codeline" id="line-94"><code></code></span>
<span class="codeline" id="line-95"><code>	{{if pipeline}} T1 {{else if pipeline}} T0 {{end}}</code></span>
<span class="codeline" id="line-96"><code>		To simplify the appearance of if-else chains, the else action</code></span>
<span class="codeline" id="line-97"><code>		of an if may include another if directly; the effect is exactly</code></span>
<span class="codeline" id="line-98"><code>		the same as writing</code></span>
<span class="codeline" id="line-99"><code>			{{if pipeline}} T1 {{else}}{{if pipeline}} T0 {{end}}{{end}}</code></span>
<span class="codeline" id="line-100"><code></code></span>
<span class="codeline" id="line-101"><code>	{{range pipeline}} T1 {{end}}</code></span>
<span class="codeline" id="line-102"><code>		The value of the pipeline must be an array, slice, map, or channel.</code></span>
<span class="codeline" id="line-103"><code>		If the value of the pipeline has length zero, nothing is output;</code></span>
<span class="codeline" id="line-104"><code>		otherwise, dot is set to the successive elements of the array,</code></span>
<span class="codeline" id="line-105"><code>		slice, or map and T1 is executed. If the value is a map and the</code></span>
<span class="codeline" id="line-106"><code>		keys are of basic type with a defined order, the elements will be</code></span>
<span class="codeline" id="line-107"><code>		visited in sorted key order.</code></span>
<span class="codeline" id="line-108"><code></code></span>
<span class="codeline" id="line-109"><code>	{{range pipeline}} T1 {{else}} T0 {{end}}</code></span>
<span class="codeline" id="line-110"><code>		The value of the pipeline must be an array, slice, map, or channel.</code></span>
<span class="codeline" id="line-111"><code>		If the value of the pipeline has length zero, dot is unaffected and</code></span>
<span class="codeline" id="line-112"><code>		T0 is executed; otherwise, dot is set to the successive elements</code></span>
<span class="codeline" id="line-113"><code>		of the array, slice, or map and T1 is executed.</code></span>
<span class="codeline" id="line-114"><code></code></span>
<span class="codeline" id="line-115"><code>	{{template "name"}}</code></span>
<span class="codeline" id="line-116"><code>		The template with the specified name is executed with nil data.</code></span>
<span class="codeline" id="line-117"><code></code></span>
<span class="codeline" id="line-118"><code>	{{template "name" pipeline}}</code></span>
<span class="codeline" id="line-119"><code>		The template with the specified name is executed with dot set</code></span>
<span class="codeline" id="line-120"><code>		to the value of the pipeline.</code></span>
<span class="codeline" id="line-121"><code></code></span>
<span class="codeline" id="line-122"><code>	{{block "name" pipeline}} T1 {{end}}</code></span>
<span class="codeline" id="line-123"><code>		A block is shorthand for defining a template</code></span>
<span class="codeline" id="line-124"><code>			{{define "name"}} T1 {{end}}</code></span>
<span class="codeline" id="line-125"><code>		and then executing it in place</code></span>
<span class="codeline" id="line-126"><code>			{{template "name" pipeline}}</code></span>
<span class="codeline" id="line-127"><code>		The typical use is to define a set of root templates that are</code></span>
<span class="codeline" id="line-128"><code>		then customized by redefining the block templates within.</code></span>
<span class="codeline" id="line-129"><code></code></span>
<span class="codeline" id="line-130"><code>	{{with pipeline}} T1 {{end}}</code></span>
<span class="codeline" id="line-131"><code>		If the value of the pipeline is empty, no output is generated;</code></span>
<span class="codeline" id="line-132"><code>		otherwise, dot is set to the value of the pipeline and T1 is</code></span>
<span class="codeline" id="line-133"><code>		executed.</code></span>
<span class="codeline" id="line-134"><code></code></span>
<span class="codeline" id="line-135"><code>	{{with pipeline}} T1 {{else}} T0 {{end}}</code></span>
<span class="codeline" id="line-136"><code>		If the value of the pipeline is empty, dot is unaffected and T0</code></span>
<span class="codeline" id="line-137"><code>		is executed; otherwise, dot is set to the value of the pipeline</code></span>
<span class="codeline" id="line-138"><code>		and T1 is executed.</code></span>
<span class="codeline" id="line-139"><code></code></span>
<span class="codeline" id="line-140"><code>Arguments</code></span>
<span class="codeline" id="line-141"><code></code></span>
<span class="codeline" id="line-142"><code>An argument is a simple value, denoted by one of the following.</code></span>
<span class="codeline" id="line-143"><code></code></span>
<span class="codeline" id="line-144"><code>	- A boolean, string, character, integer, floating-point, imaginary</code></span>
<span class="codeline" id="line-145"><code>	  or complex constant in Go syntax. These behave like Go's untyped</code></span>
<span class="codeline" id="line-146"><code>	  constants. Note that, as in Go, whether a large integer constant</code></span>
<span class="codeline" id="line-147"><code>	  overflows when assigned or passed to a function can depend on whether</code></span>
<span class="codeline" id="line-148"><code>	  the host machine's ints are 32 or 64 bits.</code></span>
<span class="codeline" id="line-149"><code>	- The keyword nil, representing an untyped Go nil.</code></span>
<span class="codeline" id="line-150"><code>	- The character '.' (period):</code></span>
<span class="codeline" id="line-151"><code>		.</code></span>
<span class="codeline" id="line-152"><code>	  The result is the value of dot.</code></span>
<span class="codeline" id="line-153"><code>	- A variable name, which is a (possibly empty) alphanumeric string</code></span>
<span class="codeline" id="line-154"><code>	  preceded by a dollar sign, such as</code></span>
<span class="codeline" id="line-155"><code>		$piOver2</code></span>
<span class="codeline" id="line-156"><code>	  or</code></span>
<span class="codeline" id="line-157"><code>		$</code></span>
<span class="codeline" id="line-158"><code>	  The result is the value of the variable.</code></span>
<span class="codeline" id="line-159"><code>	  Variables are described below.</code></span>
<span class="codeline" id="line-160"><code>	- The name of a field of the data, which must be a struct, preceded</code></span>
<span class="codeline" id="line-161"><code>	  by a period, such as</code></span>
<span class="codeline" id="line-162"><code>		.Field</code></span>
<span class="codeline" id="line-163"><code>	  The result is the value of the field. Field invocations may be</code></span>
<span class="codeline" id="line-164"><code>	  chained:</code></span>
<span class="codeline" id="line-165"><code>	    .Field1.Field2</code></span>
<span class="codeline" id="line-166"><code>	  Fields can also be evaluated on variables, including chaining:</code></span>
<span class="codeline" id="line-167"><code>	    $x.Field1.Field2</code></span>
<span class="codeline" id="line-168"><code>	- The name of a key of the data, which must be a map, preceded</code></span>
<span class="codeline" id="line-169"><code>	  by a period, such as</code></span>
<span class="codeline" id="line-170"><code>		.Key</code></span>
<span class="codeline" id="line-171"><code>	  The result is the map element value indexed by the key.</code></span>
<span class="codeline" id="line-172"><code>	  Key invocations may be chained and combined with fields to any</code></span>
<span class="codeline" id="line-173"><code>	  depth:</code></span>
<span class="codeline" id="line-174"><code>	    .Field1.Key1.Field2.Key2</code></span>
<span class="codeline" id="line-175"><code>	  Although the key must be an alphanumeric identifier, unlike with</code></span>
<span class="codeline" id="line-176"><code>	  field names they do not need to start with an upper case letter.</code></span>
<span class="codeline" id="line-177"><code>	  Keys can also be evaluated on variables, including chaining:</code></span>
<span class="codeline" id="line-178"><code>	    $x.key1.key2</code></span>
<span class="codeline" id="line-179"><code>	- The name of a niladic method of the data, preceded by a period,</code></span>
<span class="codeline" id="line-180"><code>	  such as</code></span>
<span class="codeline" id="line-181"><code>		.Method</code></span>
<span class="codeline" id="line-182"><code>	  The result is the value of invoking the method with dot as the</code></span>
<span class="codeline" id="line-183"><code>	  receiver, dot.Method(). Such a method must have one return value (of</code></span>
<span class="codeline" id="line-184"><code>	  any type) or two return values, the second of which is an error.</code></span>
<span class="codeline" id="line-185"><code>	  If it has two and the returned error is non-nil, execution terminates</code></span>
<span class="codeline" id="line-186"><code>	  and an error is returned to the caller as the value of Execute.</code></span>
<span class="codeline" id="line-187"><code>	  Method invocations may be chained and combined with fields and keys</code></span>
<span class="codeline" id="line-188"><code>	  to any depth:</code></span>
<span class="codeline" id="line-189"><code>	    .Field1.Key1.Method1.Field2.Key2.Method2</code></span>
<span class="codeline" id="line-190"><code>	  Methods can also be evaluated on variables, including chaining:</code></span>
<span class="codeline" id="line-191"><code>	    $x.Method1.Field</code></span>
<span class="codeline" id="line-192"><code>	- The name of a niladic function, such as</code></span>
<span class="codeline" id="line-193"><code>		fun</code></span>
<span class="codeline" id="line-194"><code>	  The result is the value of invoking the function, fun(). The return</code></span>
<span class="codeline" id="line-195"><code>	  types and values behave as in methods. Functions and function</code></span>
<span class="codeline" id="line-196"><code>	  names are described below.</code></span>
<span class="codeline" id="line-197"><code>	- A parenthesized instance of one the above, for grouping. The result</code></span>
<span class="codeline" id="line-198"><code>	  may be accessed by a field or map key invocation.</code></span>
<span class="codeline" id="line-199"><code>		print (.F1 arg1) (.F2 arg2)</code></span>
<span class="codeline" id="line-200"><code>		(.StructValuedMethod "arg").Field</code></span>
<span class="codeline" id="line-201"><code></code></span>
<span class="codeline" id="line-202"><code>Arguments may evaluate to any type; if they are pointers the implementation</code></span>
<span class="codeline" id="line-203"><code>automatically indirects to the base type when required.</code></span>
<span class="codeline" id="line-204"><code>If an evaluation yields a function value, such as a function-valued</code></span>
<span class="codeline" id="line-205"><code>field of a struct, the function is not invoked automatically, but it</code></span>
<span class="codeline" id="line-206"><code>can be used as a truth value for an if action and the like. To invoke</code></span>
<span class="codeline" id="line-207"><code>it, use the call function, defined below.</code></span>
<span class="codeline" id="line-208"><code></code></span>
<span class="codeline" id="line-209"><code>Pipelines</code></span>
<span class="codeline" id="line-210"><code></code></span>
<span class="codeline" id="line-211"><code>A pipeline is a possibly chained sequence of "commands". A command is a simple</code></span>
<span class="codeline" id="line-212"><code>value (argument) or a function or method call, possibly with multiple arguments:</code></span>
<span class="codeline" id="line-213"><code></code></span>
<span class="codeline" id="line-214"><code>	Argument</code></span>
<span class="codeline" id="line-215"><code>		The result is the value of evaluating the argument.</code></span>
<span class="codeline" id="line-216"><code>	.Method [Argument...]</code></span>
<span class="codeline" id="line-217"><code>		The method can be alone or the last element of a chain but,</code></span>
<span class="codeline" id="line-218"><code>		unlike methods in the middle of a chain, it can take arguments.</code></span>
<span class="codeline" id="line-219"><code>		The result is the value of calling the method with the</code></span>
<span class="codeline" id="line-220"><code>		arguments:</code></span>
<span class="codeline" id="line-221"><code>			dot.Method(Argument1, etc.)</code></span>
<span class="codeline" id="line-222"><code>	functionName [Argument...]</code></span>
<span class="codeline" id="line-223"><code>		The result is the value of calling the function associated</code></span>
<span class="codeline" id="line-224"><code>		with the name:</code></span>
<span class="codeline" id="line-225"><code>			function(Argument1, etc.)</code></span>
<span class="codeline" id="line-226"><code>		Functions and function names are described below.</code></span>
<span class="codeline" id="line-227"><code></code></span>
<span class="codeline" id="line-228"><code>A pipeline may be "chained" by separating a sequence of commands with pipeline</code></span>
<span class="codeline" id="line-229"><code>characters '|'. In a chained pipeline, the result of each command is</code></span>
<span class="codeline" id="line-230"><code>passed as the last argument of the following command. The output of the final</code></span>
<span class="codeline" id="line-231"><code>command in the pipeline is the value of the pipeline.</code></span>
<span class="codeline" id="line-232"><code></code></span>
<span class="codeline" id="line-233"><code>The output of a command will be either one value or two values, the second of</code></span>
<span class="codeline" id="line-234"><code>which has type error. If that second value is present and evaluates to</code></span>
<span class="codeline" id="line-235"><code>non-nil, execution terminates and the error is returned to the caller of</code></span>
<span class="codeline" id="line-236"><code>Execute.</code></span>
<span class="codeline" id="line-237"><code></code></span>
<span class="codeline" id="line-238"><code>Variables</code></span>
<span class="codeline" id="line-239"><code></code></span>
<span class="codeline" id="line-240"><code>A pipeline inside an action may initialize a variable to capture the result.</code></span>
<span class="codeline" id="line-241"><code>The initialization has syntax</code></span>
<span class="codeline" id="line-242"><code></code></span>
<span class="codeline" id="line-243"><code>	$variable := pipeline</code></span>
<span class="codeline" id="line-244"><code></code></span>
<span class="codeline" id="line-245"><code>where $variable is the name of the variable. An action that declares a</code></span>
<span class="codeline" id="line-246"><code>variable produces no output.</code></span>
<span class="codeline" id="line-247"><code></code></span>
<span class="codeline" id="line-248"><code>Variables previously declared can also be assigned, using the syntax</code></span>
<span class="codeline" id="line-249"><code></code></span>
<span class="codeline" id="line-250"><code>	$variable = pipeline</code></span>
<span class="codeline" id="line-251"><code></code></span>
<span class="codeline" id="line-252"><code>If a "range" action initializes a variable, the variable is set to the</code></span>
<span class="codeline" id="line-253"><code>successive elements of the iteration. Also, a "range" may declare two</code></span>
<span class="codeline" id="line-254"><code>variables, separated by a comma:</code></span>
<span class="codeline" id="line-255"><code></code></span>
<span class="codeline" id="line-256"><code>	range $index, $element := pipeline</code></span>
<span class="codeline" id="line-257"><code></code></span>
<span class="codeline" id="line-258"><code>in which case $index and $element are set to the successive values of the</code></span>
<span class="codeline" id="line-259"><code>array/slice index or map key and element, respectively. Note that if there is</code></span>
<span class="codeline" id="line-260"><code>only one variable, it is assigned the element; this is opposite to the</code></span>
<span class="codeline" id="line-261"><code>convention in Go range clauses.</code></span>
<span class="codeline" id="line-262"><code></code></span>
<span class="codeline" id="line-263"><code>A variable's scope extends to the "end" action of the control structure ("if",</code></span>
<span class="codeline" id="line-264"><code>"with", or "range") in which it is declared, or to the end of the template if</code></span>
<span class="codeline" id="line-265"><code>there is no such control structure. A template invocation does not inherit</code></span>
<span class="codeline" id="line-266"><code>variables from the point of its invocation.</code></span>
<span class="codeline" id="line-267"><code></code></span>
<span class="codeline" id="line-268"><code>When execution begins, $ is set to the data argument passed to Execute, that is,</code></span>
<span class="codeline" id="line-269"><code>to the starting value of dot.</code></span>
<span class="codeline" id="line-270"><code></code></span>
<span class="codeline" id="line-271"><code>Examples</code></span>
<span class="codeline" id="line-272"><code></code></span>
<span class="codeline" id="line-273"><code>Here are some example one-line templates demonstrating pipelines and variables.</code></span>
<span class="codeline" id="line-274"><code>All produce the quoted word "output":</code></span>
<span class="codeline" id="line-275"><code></code></span>
<span class="codeline" id="line-276"><code>	{{"\"output\""}}</code></span>
<span class="codeline" id="line-277"><code>		A string constant.</code></span>
<span class="codeline" id="line-278"><code>	{{`"output"`}}</code></span>
<span class="codeline" id="line-279"><code>		A raw string constant.</code></span>
<span class="codeline" id="line-280"><code>	{{printf "%q" "output"}}</code></span>
<span class="codeline" id="line-281"><code>		A function call.</code></span>
<span class="codeline" id="line-282"><code>	{{"output" | printf "%q"}}</code></span>
<span class="codeline" id="line-283"><code>		A function call whose final argument comes from the previous</code></span>
<span class="codeline" id="line-284"><code>		command.</code></span>
<span class="codeline" id="line-285"><code>	{{printf "%q" (print "out" "put")}}</code></span>
<span class="codeline" id="line-286"><code>		A parenthesized argument.</code></span>
<span class="codeline" id="line-287"><code>	{{"put" | printf "%s%s" "out" | printf "%q"}}</code></span>
<span class="codeline" id="line-288"><code>		A more elaborate call.</code></span>
<span class="codeline" id="line-289"><code>	{{"output" | printf "%s" | printf "%q"}}</code></span>
<span class="codeline" id="line-290"><code>		A longer chain.</code></span>
<span class="codeline" id="line-291"><code>	{{with "output"}}{{printf "%q" .}}{{end}}</code></span>
<span class="codeline" id="line-292"><code>		A with action using dot.</code></span>
<span class="codeline" id="line-293"><code>	{{with $x := "output" | printf "%q"}}{{$x}}{{end}}</code></span>
<span class="codeline" id="line-294"><code>		A with action that creates and uses a variable.</code></span>
<span class="codeline" id="line-295"><code>	{{with $x := "output"}}{{printf "%q" $x}}{{end}}</code></span>
<span class="codeline" id="line-296"><code>		A with action that uses the variable in another action.</code></span>
<span class="codeline" id="line-297"><code>	{{with $x := "output"}}{{$x | printf "%q"}}{{end}}</code></span>
<span class="codeline" id="line-298"><code>		The same, but pipelined.</code></span>
<span class="codeline" id="line-299"><code></code></span>
<span class="codeline" id="line-300"><code>Functions</code></span>
<span class="codeline" id="line-301"><code></code></span>
<span class="codeline" id="line-302"><code>During execution functions are found in two function maps: first in the</code></span>
<span class="codeline" id="line-303"><code>template, then in the global function map. By default, no functions are defined</code></span>
<span class="codeline" id="line-304"><code>in the template but the Funcs method can be used to add them.</code></span>
<span class="codeline" id="line-305"><code></code></span>
<span class="codeline" id="line-306"><code>Predefined global functions are named as follows.</code></span>
<span class="codeline" id="line-307"><code></code></span>
<span class="codeline" id="line-308"><code>	and</code></span>
<span class="codeline" id="line-309"><code>		Returns the boolean AND of its arguments by returning the</code></span>
<span class="codeline" id="line-310"><code>		first empty argument or the last argument, that is,</code></span>
<span class="codeline" id="line-311"><code>		"and x y" behaves as "if x then y else x". All the</code></span>
<span class="codeline" id="line-312"><code>		arguments are evaluated.</code></span>
<span class="codeline" id="line-313"><code>	call</code></span>
<span class="codeline" id="line-314"><code>		Returns the result of calling the first argument, which</code></span>
<span class="codeline" id="line-315"><code>		must be a function, with the remaining arguments as parameters.</code></span>
<span class="codeline" id="line-316"><code>		Thus "call .X.Y 1 2" is, in Go notation, dot.X.Y(1, 2) where</code></span>
<span class="codeline" id="line-317"><code>		Y is a func-valued field, map entry, or the like.</code></span>
<span class="codeline" id="line-318"><code>		The first argument must be the result of an evaluation</code></span>
<span class="codeline" id="line-319"><code>		that yields a value of function type (as distinct from</code></span>
<span class="codeline" id="line-320"><code>		a predefined function such as print). The function must</code></span>
<span class="codeline" id="line-321"><code>		return either one or two result values, the second of which</code></span>
<span class="codeline" id="line-322"><code>		is of type error. If the arguments don't match the function</code></span>
<span class="codeline" id="line-323"><code>		or the returned error value is non-nil, execution stops.</code></span>
<span class="codeline" id="line-324"><code>	html</code></span>
<span class="codeline" id="line-325"><code>		Returns the escaped HTML equivalent of the textual</code></span>
<span class="codeline" id="line-326"><code>		representation of its arguments. This function is unavailable</code></span>
<span class="codeline" id="line-327"><code>		in html/template, with a few exceptions.</code></span>
<span class="codeline" id="line-328"><code>	index</code></span>
<span class="codeline" id="line-329"><code>		Returns the result of indexing its first argument by the</code></span>
<span class="codeline" id="line-330"><code>		following arguments. Thus "index x 1 2 3" is, in Go syntax,</code></span>
<span class="codeline" id="line-331"><code>		x[1][2][3]. Each indexed item must be a map, slice, or array.</code></span>
<span class="codeline" id="line-332"><code>	slice</code></span>
<span class="codeline" id="line-333"><code>		slice returns the result of slicing its first argument by the</code></span>
<span class="codeline" id="line-334"><code>		remaining arguments. Thus "slice x 1 2" is, in Go syntax, x[1:2],</code></span>
<span class="codeline" id="line-335"><code>		while "slice x" is x[:], "slice x 1" is x[1:], and "slice x 1 2 3"</code></span>
<span class="codeline" id="line-336"><code>		is x[1:2:3]. The first argument must be a string, slice, or array.</code></span>
<span class="codeline" id="line-337"><code>	js</code></span>
<span class="codeline" id="line-338"><code>		Returns the escaped JavaScript equivalent of the textual</code></span>
<span class="codeline" id="line-339"><code>		representation of its arguments.</code></span>
<span class="codeline" id="line-340"><code>	len</code></span>
<span class="codeline" id="line-341"><code>		Returns the integer length of its argument.</code></span>
<span class="codeline" id="line-342"><code>	not</code></span>
<span class="codeline" id="line-343"><code>		Returns the boolean negation of its single argument.</code></span>
<span class="codeline" id="line-344"><code>	or</code></span>
<span class="codeline" id="line-345"><code>		Returns the boolean OR of its arguments by returning the</code></span>
<span class="codeline" id="line-346"><code>		first non-empty argument or the last argument, that is,</code></span>
<span class="codeline" id="line-347"><code>		"or x y" behaves as "if x then x else y". All the</code></span>
<span class="codeline" id="line-348"><code>		arguments are evaluated.</code></span>
<span class="codeline" id="line-349"><code>	print</code></span>
<span class="codeline" id="line-350"><code>		An alias for fmt.Sprint</code></span>
<span class="codeline" id="line-351"><code>	printf</code></span>
<span class="codeline" id="line-352"><code>		An alias for fmt.Sprintf</code></span>
<span class="codeline" id="line-353"><code>	println</code></span>
<span class="codeline" id="line-354"><code>		An alias for fmt.Sprintln</code></span>
<span class="codeline" id="line-355"><code>	urlquery</code></span>
<span class="codeline" id="line-356"><code>		Returns the escaped value of the textual representation of</code></span>
<span class="codeline" id="line-357"><code>		its arguments in a form suitable for embedding in a URL query.</code></span>
<span class="codeline" id="line-358"><code>		This function is unavailable in html/template, with a few</code></span>
<span class="codeline" id="line-359"><code>		exceptions.</code></span>
<span class="codeline" id="line-360"><code></code></span>
<span class="codeline" id="line-361"><code>The boolean functions take any zero value to be false and a non-zero</code></span>
<span class="codeline" id="line-362"><code>value to be true.</code></span>
<span class="codeline" id="line-363"><code></code></span>
<span class="codeline" id="line-364"><code>There is also a set of binary comparison operators defined as</code></span>
<span class="codeline" id="line-365"><code>functions:</code></span>
<span class="codeline" id="line-366"><code></code></span>
<span class="codeline" id="line-367"><code>	eq</code></span>
<span class="codeline" id="line-368"><code>		Returns the boolean truth of arg1 == arg2</code></span>
<span class="codeline" id="line-369"><code>	ne</code></span>
<span class="codeline" id="line-370"><code>		Returns the boolean truth of arg1 != arg2</code></span>
<span class="codeline" id="line-371"><code>	lt</code></span>
<span class="codeline" id="line-372"><code>		Returns the boolean truth of arg1 &lt; arg2</code></span>
<span class="codeline" id="line-373"><code>	le</code></span>
<span class="codeline" id="line-374"><code>		Returns the boolean truth of arg1 &lt;= arg2</code></span>
<span class="codeline" id="line-375"><code>	gt</code></span>
<span class="codeline" id="line-376"><code>		Returns the boolean truth of arg1 &gt; arg2</code></span>
<span class="codeline" id="line-377"><code>	ge</code></span>
<span class="codeline" id="line-378"><code>		Returns the boolean truth of arg1 &gt;= arg2</code></span>
<span class="codeline" id="line-379"><code></code></span>
<span class="codeline" id="line-380"><code>For simpler multi-way equality tests, eq (only) accepts two or more</code></span>
<span class="codeline" id="line-381"><code>arguments and compares the second and subsequent to the first,</code></span>
<span class="codeline" id="line-382"><code>returning in effect</code></span>
<span class="codeline" id="line-383"><code></code></span>
<span class="codeline" id="line-384"><code>	arg1==arg2 || arg1==arg3 || arg1==arg4 ...</code></span>
<span class="codeline" id="line-385"><code></code></span>
<span class="codeline" id="line-386"><code>(Unlike with || in Go, however, eq is a function call and all the</code></span>
<span class="codeline" id="line-387"><code>arguments will be evaluated.)</code></span>
<span class="codeline" id="line-388"><code></code></span>
<span class="codeline" id="line-389"><code>The comparison functions work on any values whose type Go defines as</code></span>
<span class="codeline" id="line-390"><code>comparable. For basic types such as integers, the rules are relaxed:</code></span>
<span class="codeline" id="line-391"><code>size and exact type are ignored, so any integer value, signed or unsigned,</code></span>
<span class="codeline" id="line-392"><code>may be compared with any other integer value. (The arithmetic value is compared,</code></span>
<span class="codeline" id="line-393"><code>not the bit pattern, so all negative integers are less than all unsigned integers.)</code></span>
<span class="codeline" id="line-394"><code>However, as usual, one may not compare an int with a float32 and so on.</code></span>
<span class="codeline" id="line-395"><code></code></span>
<span class="codeline" id="line-396"><code>Associated templates</code></span>
<span class="codeline" id="line-397"><code></code></span>
<span class="codeline" id="line-398"><code>Each template is named by a string specified when it is created. Also, each</code></span>
<span class="codeline" id="line-399"><code>template is associated with zero or more other templates that it may invoke by</code></span>
<span class="codeline" id="line-400"><code>name; such associations are transitive and form a name space of templates.</code></span>
<span class="codeline" id="line-401"><code></code></span>
<span class="codeline" id="line-402"><code>A template may use a template invocation to instantiate another associated</code></span>
<span class="codeline" id="line-403"><code>template; see the explanation of the "template" action above. The name must be</code></span>
<span class="codeline" id="line-404"><code>that of a template associated with the template that contains the invocation.</code></span>
<span class="codeline" id="line-405"><code></code></span>
<span class="codeline" id="line-406"><code>Nested template definitions</code></span>
<span class="codeline" id="line-407"><code></code></span>
<span class="codeline" id="line-408"><code>When parsing a template, another template may be defined and associated with the</code></span>
<span class="codeline" id="line-409"><code>template being parsed. Template definitions must appear at the top level of the</code></span>
<span class="codeline" id="line-410"><code>template, much like global variables in a Go program.</code></span>
<span class="codeline" id="line-411"><code></code></span>
<span class="codeline" id="line-412"><code>The syntax of such definitions is to surround each template declaration with a</code></span>
<span class="codeline" id="line-413"><code>"define" and "end" action.</code></span>
<span class="codeline" id="line-414"><code></code></span>
<span class="codeline" id="line-415"><code>The define action names the template being created by providing a string</code></span>
<span class="codeline" id="line-416"><code>constant. Here is a simple example:</code></span>
<span class="codeline" id="line-417"><code></code></span>
<span class="codeline" id="line-418"><code>	`{{define "T1"}}ONE{{end}}</code></span>
<span class="codeline" id="line-419"><code>	{{define "T2"}}TWO{{end}}</code></span>
<span class="codeline" id="line-420"><code>	{{define "T3"}}{{template "T1"}} {{template "T2"}}{{end}}</code></span>
<span class="codeline" id="line-421"><code>	{{template "T3"}}`</code></span>
<span class="codeline" id="line-422"><code></code></span>
<span class="codeline" id="line-423"><code>This defines two templates, T1 and T2, and a third T3 that invokes the other two</code></span>
<span class="codeline" id="line-424"><code>when it is executed. Finally it invokes T3. If executed this template will</code></span>
<span class="codeline" id="line-425"><code>produce the text</code></span>
<span class="codeline" id="line-426"><code></code></span>
<span class="codeline" id="line-427"><code>	ONE TWO</code></span>
<span class="codeline" id="line-428"><code></code></span>
<span class="codeline" id="line-429"><code>By construction, a template may reside in only one association. If it's</code></span>
<span class="codeline" id="line-430"><code>necessary to have a template addressable from multiple associations, the</code></span>
<span class="codeline" id="line-431"><code>template definition must be parsed multiple times to create distinct *Template</code></span>
<span class="codeline" id="line-432"><code>values, or must be copied with the Clone or AddParseTree method.</code></span>
<span class="codeline" id="line-433"><code></code></span>
<span class="codeline" id="line-434"><code>Parse may be called multiple times to assemble the various associated templates;</code></span>
<span class="codeline" id="line-435"><code>see the ParseFiles and ParseGlob functions and methods for simple ways to parse</code></span>
<span class="codeline" id="line-436"><code>related templates stored in files.</code></span>
<span class="codeline" id="line-437"><code></code></span>
<span class="codeline" id="line-438"><code>A template may be executed directly or through ExecuteTemplate, which executes</code></span>
<span class="codeline" id="line-439"><code>an associated template identified by name. To invoke our example above, we</code></span>
<span class="codeline" id="line-440"><code>might write,</code></span>
<span class="codeline" id="line-441"><code></code></span>
<span class="codeline" id="line-442"><code>	err := tmpl.Execute(os.Stdout, "no data needed")</code></span>
<span class="codeline" id="line-443"><code>	if err != nil {</code></span>
<span class="codeline" id="line-444"><code>		log.Fatalf("execution failed: %s", err)</code></span>
<span class="codeline" id="line-445"><code>	}</code></span>
<span class="codeline" id="line-446"><code></code></span>
<span class="codeline" id="line-447"><code>or to invoke a particular template explicitly by name,</code></span>
<span class="codeline" id="line-448"><code></code></span>
<span class="codeline" id="line-449"><code>	err := tmpl.ExecuteTemplate(os.Stdout, "T2", "no data needed")</code></span>
<span class="codeline" id="line-450"><code>	if err != nil {</code></span>
<span class="codeline" id="line-451"><code>		log.Fatalf("execution failed: %s", err)</code></span>
<span class="codeline" id="line-452"><code>	}</code></span>
<span class="codeline" id="line-453"><code></code></span>
<span class="codeline" id="line-454"><code>*/</code></span></div><span class="codeline" id="line-455"><code>package template</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>